<ion-view id="account-edit" view-title="Edit Profile">
    <ion-content overflow-scroll="false">
        <form ng-submit="updateProfile(user_info)" name="updateProfileForm" ng-if="user">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="First Name" class="form-control" ng-model="user_info.first_name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Last Name" class="form-control" ng-model="user_info.last_name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">User Name</span>
                    <input type="text" placeholder="User Name" class="form-control" ng-model="user_info.slug">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Age</span>
                    <input type="text" placeholder="Age" class="form-control" ng-model="user_info.age">
                </label>
                <div class="item item-divider ng-binding">Gender</div>
                <ion-radio ng-model="user_info.gender" ng-value="'male'">Male</ion-radio>
                <ion-radio ng-model="user_info.gender" ng-value="'female'">Female</ion-radio>
                <div class="padding"></div>
                <div class="padding">
                    <button type="submit" class="button button-block button-positive padding">Update Profile</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
