<ion-view class="follow-toggle-user-list" id="account-following" view-title="<snap-title>FOLLOWING</snap-title>">
    <ion-content ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="no-result" ng-if="noResult">
            Follow other Snaplookers!
        </div>
        <div class="loading-spinner" data-loading ng-if="users.length == 0 && !noMoreItemsAvailable">
            <ion-spinner></ion-spinner>
        </div>
        <ion-list>
            <ion-item class="item item-avatar" ng-repeat="user in users">
                <div class="entity-id-{{user.id}}">
                    <div ng-click="goAccount(user.slug)" style="background-image: url( {{ photoPath( user.profile_img_path, 's' ) }} )" class="profile-image"></div>
                    <div ng-click="goAccount(user.slug)" class="user-name">{{ user.username }}</div>
                    <button class="button button-small follow-toggle" ng-class="{'following' : user.following_check}" ng-click="toggleFollow(user)" ng-if="me.id != user.id"></button>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>
