<ion-view cache-view="false" view-title="<snap-title>CANVAS</snap-title>" id="canvas">
    <ion-content>
        <canvas id="c" style="border-bottom: 1px solid #ccc"></canvas>
        <button class="button button-block button-positive" ng-click="save()">Save</button>
        <button class="button button-block button-positive" ng-click="wardrobe()">Wardrobe</button>
        <button class="button button-block button-positive" ng-click="help()">Help</button>
        <button class="button button-block button-positive" ng-click="clear()">Clear</button>
    </ion-content>
</ion-view>
