<ion-view id="change-password" view-title="Change Password">
    <ion-content ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
	    <form ng-submit="changePassword(pwd)" name="changePasswordForm">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Old Password</span>
                    <input type="text" placeholder="Old Password" class="form-control" ng-model="pwd.old_password">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">New Password</span>
                    <input type="text" placeholder="New Password" class="form-control" ng-model="pwd.password">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Confirm Password</span>
                    <input type="text" placeholder="Confirm Password" class="form-control" ng-model="pwd.password_confirmation">
                </label>
                <div class="padding"></div>
                <div class="padding">
                    <button type="submit" class="button button-block button-positive padding">Update Password</button>
                </div>
            </div>
	    </form>
    </ion-content>
</ion-view>
