<ion-view view-title="<snap-title>PASSWORD</snap-title>" id="forget-password">
    <ion-content ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <form ng-submit="sendLink(data)">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="data.email" placeholder="Email">
                </label>
                <div class="padding"></div>
                <div class="padding">
                    <button class="button button-block button-positive" type="submit">Send Password Reset Link</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
