<ion-view id="intro" hide-nav-bar="true">
    <div class="enter button button-small button-outline" ng-click="enterApplication()">Enter</div>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
        <ion-slide>
            <div class="content" ng-if="currentSlide(0)">
                <div class="top">
                    <h1>POST YOUR LOOK</h1>
                    <h2>Post outfits and find out<br>which looks best on you from others</h2>
                </div>
                <!--
                <div class="phone iphone">
                    <img ng-src="img/intro1.jpg" src="img/intro1.jpg">
                </div>
                -->
            </div>
        </ion-slide>
        <ion-slide>
            <div class="content" ng-if="currentSlide(1)">
                <div class="top">
                    <h1>TIMED VISIBILITY</h1>
                    <h2>Your post is visible to others only for a day. So try different styles and be creative without limits</h2>
                </div>
                <!--
                <div class="phone iphone">
                    <img ng-src="img/intro1.jpg" src="img/intro1.jpg">
                </div>
                -->
            </div>
        </ion-slide>
        <ion-slide>
            <div class="content" ng-if="currentSlide(2)">
                <div class="top">
                    <h1>MY LOOKBOOK</h1>
                    <h2>With best looks, you can build up your own lookbook</h2>
                </div>
                <!--
                <div class="phone iphone">
                    <img ng-src="img/intro1.jpg" src="img/intro1.jpg">
                </div>
                -->
            </div>
        </ion-slide>
        <ion-slide>
            <div class="content" ng-if="currentSlide(3)">
                <div class="top">
                    <h1>BROWSE LOOKS</h1>
                    <h2>Get inspiration and influence others with likes and comments</h2>
                </div>
                <!--
                <div class="phone iphone">
                    <img ng-src="img/intro1.jpg" src="img/intro1.jpg">
                </div>
                -->
            </div>
        </ion-slide>
    </ion-slide-box>

</ion-view>