<ion-view id="invite-friends" view-title="Invite Friends">
    <ion-content>
	    <form ng-submit="sendInvitation(email)" name="inviteForm">
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Please enter email to invite" class="form-control email" ng-model="email">
            </label>
	        
	        <div class="padding"></div>
	    	<button type="submit" class="button button-block button-positive padding" ng-click="focusEmailInput();">Send Invitation</button>
	    </form>
    </ion-content>
</ion-view>
