<ion-view class="single-photo" id="photo-detail" view-title="OUTFIT">
    <ion-content ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <ion-scroll id="mapImage"
                zooming="true"
                direction="xy"
                delegate-handle="zoom-pane"
                class="zoom-pane"
                min-zoom="1"
                max-zoom="15"
                overflow-scroll="false">
            <img ng-src="{{ photoPath( photo.img_path, 'l' )}}" imageonload="imageLoaded(photo)" ng-show="photo.loaded">
            <ion-spinner ng-show="!photo.loaded"></ion-spinner>
        </ion-scroll>
    </ion-content>
</ion-view>
