<ion-view id="create-post" view-title="Create Post">
    <ion-content class="has-header">
        <form ng-submit="sharePost(captions)" name="shareForm">
            <div class="post-image">
                <img class="item" ng-src="{{picData}}" />
            </div>
            <div class="post-caption padding">
                <textarea placeholder="Write a Caption" class="form-control" ng-model="captions"></textarea>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Share a post</button>
            </div>
        </form>
    </ion-content>
</ion-view>