<ion-view class="comment-list" id="comments" view-title="COMMENT">
    <ion-content  scroll-watch ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <div class="loading-spinner" data-loading ng-if="is_list_loading">
            <ion-spinner></ion-spinner>
        </div>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
        </ion-refresher>
        <div class="no-result" ng-show="is_result_empty">
            No comments
        </div>
        <ion-list>
            <ion-item class="item item-text-wrap clearfix" ng-repeat="comment in list">
                <button class="button button-clear button-dark icon like-button" ng-click="toggleLike($event,comment)" ng-class="comment.user_liked ? 'ion-ios-heart' : 'ion-ios-heart-outline'"></button>
                <div class="left-section">
                    <div class="profile-image" style="background-image: url( {{ photoPath( comment.user.profile_img_path, 's' ) }} )" ng-click="goAccount(comment.user.slug)"></div>
                </div>
                <div class="right-section clearfix">
                    <div class="text-wrapper clearfix">
                        <div class="user-name" ng-click="goAccount(comment.user.slug)">{{ comment.user.username }}</div>
                        <p>{{ comment.content }}</p>
                    </div>
                    <div class="control-wrapper grey-small-font">
                        <span class="time-ago" am-time-ago="comment.created_at | amUtc"></span>
                        <span class="like-count" ng-if="comment.like_count > 1">{{ comment.like_count }} likes</span>
                        <span class="like-count" ng-if="comment.like_count == 1">{{ comment.like_count }} like</span>
                        <span class="reply" ng-click="replyClicked(comment.user.username, comment.id)">Reply</span>
                        <span class="extra" ng-click="moreOption(comment, list, $index)">. . .</span>
                    </div>
                    <ion-list>
                        <ion-item class="reply item item-text-wrap clearfix" ng-repeat="reply in comment.replies">
                            <button class="button button-clear button-dark icon like-button" ng-click="toggleLike($event,reply)" ng-class="reply.user_liked ? 'ion-ios-heart' : 'ion-ios-heart-outline'"></button>
                            <div class="left-section">
                                <div class="profile-image" style="background-image: url( {{ photoPath( reply.user.profile_img_path, 's' ) }} )" ng-click="goAccount(reply.user.slug)"></div>
                            </div>
                            <div class="right-section clearfix">
                                <div class="text-wrapper clearfix">
                                    <div class="user-name" ng-click="goAccount(reply.user.slug)">{{ reply.user.username }}</div>
                                    <p>{{ reply.content }}</p>
                                </div>
                                <div class="control-wrapper grey-small-font">
                                    <span class="time-ago" am-time-ago="reply.created_at | amUtc"></span>
                                    <span class="like-count" ng-if="reply.like_count > 1">{{ reply.like_count }} likes</span>
                                    <span class="like-count" ng-if="reply.like_count == 1">{{ reply.like_count }} like</span>
                                    <span class="reply" ng-click="replyClicked(reply.user.username, comment.id)">Reply</span>
                                    <span class="extra" ng-click="moreOption(reply, comment.replies, $index)">. . .</span>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!is_pagination_done" on-infinite="load()" distance="10%" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
    <form name="commentForm" ng-submit="submitComment()">
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input name="new_comment" type="text" id="new_comment" placeholder="Write a comment..." ng-model="new_comment.content">
                </label>
                <button class="button button-small" ng-hide="is_comment_submitting">
                    Submit
                </button>
                <button class="button button-small spinner" ng-show="is_comment_submitting">
                    <ion-spinner icon="ios-small"></ion-spinner>
                </button>
            </div>
        </div>
    </form>
</ion-view>
