<ion-view id="create-post" view-title="LOOKS TO COMPARE">
    <ion-content class="has-header" ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <form ng-submit="sharePost(captions, occasion.value, other)" name="shareForm">
            <ul class="post-images">
                <li ng-repeat="cameraPicture in cameraPictues.get()">
                    <div class="post-image">
                        <img class="item" ng-src="{{cameraPicture}}" />
                    </div>
                    <div class="remove-image" ng-click="cameraPictues.remove(cameraPicture)">
                        <i class="icon ion-close-circled"></i>
                    </div>
                </li>
                <li>
                    <div class="add-more-to-compare-wrapper" ng-click="openCameraMenu()">
                        <div class="add-more-to-compare-button">
                            <i class="icon ion-plus-circled"></i><br>
                            Add Look<br>
                            to Compare
                        </div>
                    </div>
                </li>
            </ul>
            <div class="post-caption padding">
                <textarea placeholder="Write a Caption" class="form-control" ng-model="captions"></textarea>
            </div>
            <label class="item item-input item-select">
                <div class="input-label">
                    Occasion
                </div>
                <select ng-model="occasion" ng-change="checkOccasion(occasion)" ng-options="opt.label for opt in occasionList">
                    <option value="">(optional)</option>
                </select>
            </label>
            <div class="padding occasion_optional" ng-show="shopOptionalOccasion">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Please fill out occasion</span>
                    <input type="text" placeholder="Please fill out occasion" class="form-control" ng-model="other">
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive" ng-disabled="submitted">Share</button>
            </div>
            <div class="padding">
                <button type="button" class="button button-block button-stable" ng-click="back()" ng-disabled="submitted">Cancel</button>
            </div>
        </form>
    </ion-content>
</ion-view>
