<ion-view id="edit-post" view-title="EDIT">
    <ion-content class="has-header" ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <form ng-submit="updatePost(post)" name="shareForm">
            <ion-item>
                <div class="look-list">
                    <ion-scroll direction="x" delegate-handle="handle-horizontal">
                        <div ng-repeat="photo in post.photos" class="post">
                            <div class="post-img-wrapper entity-id-{{photo.id}}" style="background-image: url({{ photoPath( photo.img_path, 'm' ) }})">
                                <a class="post-img"></a>
                            </div>
                        </div>
                    </ion-scroll>
                </div>
            </ion-item>
            <div class="post-caption padding">
                <textarea placeholder="Write a Caption" class="form-control" ng-model="post.content"></textarea>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Update post</button>
            </div>
        </form>
    </ion-content>
</ion-view>
