<ion-view id="post-likers" view-title="LIKERS">
    <ion-content>
        <ion-list>
            <ion-item class="item item-avatar" ng-repeat="like in likes" href="#">
                <img ng-click="goAccount(like.user.slug)" ng-src="{{ photoPath( like.user.profile_img_path, 's' ) }}" class="profile-image">
                <div ng-click="goAccount(like.user.slug)" class="user-name">{{ like.user.first_name }} {{ like.user.last_name }}</div>
                <button class="button button-small follow-toggle" ng-class="{'following' : like.user.following_check}" ng-click="followToggle(like)" ng-if="notMe(like)"></button>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>