<ion-view id="edit-post" view-title="Edit Post">
    <ion-content class="has-header" ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <form ng-submit="updatePost(post)" name="shareForm">
            <div class="post-image">
                <img class="item" ng-src="{{ photoPath( post.photos[0].img_path, 'm' ) }}"/>
            </div>
            <div class="post-caption padding">
                <textarea placeholder="Write a Caption" class="form-control" ng-model="post.content"></textarea>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Update post</button>
            </div>
        </form>
    </ion-content>
</ion-view>
