<ion-view class="post-list" id="post-search" view-title="<img class='title-image' src='img/logo.png'/>">
    <ion-content on-scroll="scrollList();" ng-class="{'has-blocker-message': blockerMessage.isNeeded()}">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <form name="searchForm" ng-submit="submitSearch(searchTerm)">
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" id="search" placeholder="{{ showPlaceHolder() }}" ng-model="searchTerm" autocomplete="off" ng-keyup="searchTermTyped(searchTerm, $event)">
                </label>
                <div ng-click="searchTerm = '';searchTermTyped(searchTerm, $event);" class="button button-clear search-clear" ng-show="searchTerm">X</div>
            </div>
        </form>
        <ion-list class="explore-search">
            <div class="search-toggle">
                <a ng-class="{ active: search_type_active === 'tag' }" ng-click="setType(searchTerm, 'tag');searchTermTyped(searchTerm, null, 0);">Tag</a>
                <a ng-class="{ active: search_type_active === 'people' }" ng-click="setType(searchTerm, 'people');searchTermTyped(searchTerm, null, 0);">People</a>
                <a ng-class="{ active: search_type_active === 'occasion' }" ng-click="setType(searchTerm, 'occasion');searchTermTyped(searchTerm, null, 0);">Occasion</a>
            </div>
            <div class="search-running" ng-if="isSearchRunning">
                <i class="fa fa-search" aria-hidden="true"></i> Searching...
            </div>
            <div class="no-result" ng-if="noResult && searchTerm.length">
                {{showNoSearchResultText()}}
            </div>
            <div>
                <ion-item ng-show="!noSearchResult" ng-repeat="line in searchResult" class="post">
                    <div ng-if="line.type == 'tag'" ng-click="goSearchPost(line.name, 'tag')" class="post-item"><span class="tag_sign">&nbsp;<i class="fa fa-hashtag" aria-hidden="true"></i>&nbsp;</span><span class="name">{{line.name}}</span></div>
                    <div ng-if="line.type == 'occasion'" ng-click="goSearchPost(line.name, 'occasion')" class="post-item"><span class="at_sign"><i class="fa fa-map-marker" aria-hidden="true"></i></span><span class="name">{{line.name}}</span></div>
                    <div ng-if="line.type == 'user'" class="entity-id-{{line.id}} post-item">
                        <div ng-click="goAccount(line.slug)" style="background-image: url( {{ photoPath( line.profile_img_path, 's' ) }} )" class="profile-image"></div>
                        <div ng-click="goAccount(line.slug)" class="name">{{ line.name }}</div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
        <div class="loading-spinner" data-loading ng-if="posts.length == 0 && !noMoreItemsAvailable">
            <ion-spinner></ion-spinner>
        </div>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>
