<ion-view id="create-post-step-1" view-title="<snap-title>CREATE</snap-title>">
    <ion-content class="has-header" ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <div class="steps">
            <div class="line"></div>
            <a class="step step-1 active"><span class="label"></span></a>
            <a class="step step-2"><span class="label"></span></a>
        </div>
        <div class="step-message">What's your style challenge?</div>

        <form name="searchForm" ng-submit="setTitle(title)">
            <label class="item item-input item-floating-label title-wrapper" ng-class="titleState">
                <input type="text" ng-model="title" placeholder="Type title of style challenge" autocomplete="off">
            </label>
            <div class="monthly-style-challenge">
                Out of ideas? Follow our style challenges <a ng-click="openInAppBrowser('https://www.instagram.com/snaplookapp/')">https://www.instagram.com/snaplookapp/</a>
            </div>
            <div class="button-padding">
                <button class="button button-block button-positive" type="submit">Next</button>
            </div>
        </form>
    </ion-content>
</ion-view>
