<ion-view view-title="ALMOST DONE" id="register2">
    <ion-content ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <form ng-submit="register2(registerData)">
            <div class="list">
                <label class="item item-input item-floating-label username" ng-class="usernameClass">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="registerData.username" placeholder="Username" ng-keyup="usernameTyped($event)">
                </label>
                <div class="padding"></div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Gender
                    </div>
                    <select name="gender" ng-model="registerData.gender">
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                        <option value="non_binary">Non-binary</option>
                        <option value="">Prefer not to disclose</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Age
                    </div>
                    <select name="age" ng-model="registerData.age">
                        <option value='10'>10</option>
                        <option value='11'>11</option>
                        <option value='12'>12</option>
                        <option value='13'>13</option>
                        <option value='14'>14</option>
                        <option value='15'>15</option>
                        <option value='16'>16</option>
                        <option value='17'>17</option>
                        <option value='18'>18</option>
                        <option value='19'>19</option>
                        <option value='20'>20</option>
                        <option value='21'>21</option>
                        <option value='22'>22</option>
                        <option value='23'>23</option>
                        <option value='24'>24</option>
                        <option value='25'>25</option>
                        <option value='26'>26</option>
                        <option value='27'>27</option>
                        <option value='28'>28</option>
                        <option value='29'>29</option>
                        <option value='30'>30</option>
                        <option value='31'>31</option>
                        <option value='32'>32</option>
                        <option value='33'>33</option>
                        <option value='34'>34</option>
                        <option value='35'>35</option>
                        <option value='36'>36</option>
                        <option value='37'>37</option>
                        <option value='38'>38</option>
                        <option value='39'>39</option>
                        <option value='40'>40</option>
                        <option value='41'>41</option>
                        <option value='42'>42</option>
                        <option value='43'>43</option>
                        <option value='44'>44</option>
                        <option value='45'>45</option>
                        <option value='46'>46</option>
                        <option value='47'>47</option>
                        <option value='48'>48</option>
                        <option value='49'>49</option>
                        <option value='50'>50+</option>
                        <option value="0">Prefer not to disclose</option>
                    </select>
                </label>
                <div class="padding"></div>
                <div class="padding">
                    <button class="button button-block button-positive" type="submit">Create an Account</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
