<ion-view view-title="ALMOST DONE" id="register2">
    <ion-content ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <form ng-submit="register2(registerData)">
            <div class="list">
                <label class="item item-input item-floating-label username" ng-class="usernameClass">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="registerData.username" placeholder="Username" ng-keyup="usernameTyped($event)">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Age</span>
                    <input type="text" ng-model="registerData.age" placeholder="Age">
                </label>
                <div class="padding consistent"></div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Gender
                    </div>
                    <select name="gender" ng-model="registerData.gender">
                        <option value="male">Male</option>
                        <option value="female" selected>Female</option>
                    </select>
                </label>
                <div class="padding"></div>
                <div class="padding">
                    <button class="button button-block button-positive" type="submit">Create an Account</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
