<ion-view view-title="SIGN UP" id="register">
    <ion-content ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <form ng-submit="register(registerData)">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="registerData.email" placeholder="Email">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="registerData.password" placeholder="Password">
                </label>
                <div class="padding"></div>
                <div class="padding eula">
                    By clicking Agree and Continue, your are indicating that you have read the <span onclick="cordova.InAppBrowser.open('http://app.snaplook.today/doc/privacy_policy', '_blank')" class="button button-small button-clear">Privacy Policy</span> and agree to the <span onclick="cordova.InAppBrowser.open('http://app.snaplook.today/doc/terms_of_service', '_blank')" class="button button-small button-clear">Terms of Service</span>.
                </div>
                <div class="padding"></div>
                <div class="padding">
                    <button class="button button-block button-positive" type="submit">Agree and Continue</button>
                    <p class="facebook-header">OR</p>
                    <div ng-click="facebookSignIn()"  class="button button-block button-positive ion-social-facebook">&nbsp;&nbsp;Agree and Continue with Facebook</div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
