<ion-view view-title="ALMOST DONE" id="register2">
    <ion-content>
        <form ng-submit="register2(registerData)">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">First name</span>
                    <input type="text" ng-model="registerData.first_name" placeholder="First name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Last name</span>
                    <input type="text" ng-model="registerData.last_name" placeholder="Last name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Age</span>
                    <input type="text" ng-model="registerData.age" placeholder="Age ( Optional )">
                </label>
                <div class="padding consistent"></div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Gender ( Optional )
                    </div>
                    <select name="gender" ng-model="registerData.gender">
                        <option value="male">Male</option>
                        <option value="female" selected>Female</option>
                    </select>
                </label>
                <div class="padding"></div>
                <div class="padding">
                    <button class="button button-block button-positive" type="submit">Create an Account</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>