<ion-view class="masonry-post-list" id="school-detail" view-title="SCHOOL">
    <ion-content ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="school-header">
            <h4>{{schoolName}}</h4>
        </div>
        <div class="no-result" ng-if="noResult">
            No look in this school
        </div>
        <div class="loading-spinner" data-loading ng-if="posts.length == 0 && !noMoreItemsAvailable">
            <ion-spinner></ion-spinner>
        </div>
        <ion-list>
            <div>
                <ion-item ng-repeat="post in posts" class="post" style="background-image: url({{ photoPath( post.photos[0].img_path, 'm' ) }})">
                    <a></a>
                </ion-item>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>
