<ion-view class="post-list" id="compare" view-title="WHICH LOOKS BETTER">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list sort">
            <label class="item item-input item-select">
                <div class="input-label">
                    To
                </div>
                <select name="sort-by-gender" ng-model="sort.gender" ng-change="sortPosts(sort)" ng-options="opt.label for opt in genderList">
                </select>
            </label>
            <label class="item item-input item-select" ng-hide="comparePosts.isFriendsSelected()">
                <div class="input-label">
                    In Age
                </div>
                <select name="sort-by-age" ng-model="sort.age" ng-change="sortPosts(sort)" ng-options="opt.label for opt in ageList">
                </select>
            </label>
        </div>
        <ion-list>
            <div>
                <ion-item ng-repeat="post in comparePosts.get()" class="post item post_{{post.id}}">
                    <div class="entity-id-{{post.id}}">
                        <ion-item style="background-image: url({{ photoPath( post.photos[0].img_path, 'm' ) }})" ng-click="goPostDetail(post.id)">
                            <a class="post_img"></a>
                            <div class="partial_likes">{{comparePosts.partialLikes(post.id)}} likes</div>
                        </ion-item>
                        <div>
                            <div class="desc_row">
                                <div class="profile-image" style="background-image: url( {{ photoPath( post.user.profile_img_path, 's' ) }} )" ng-click="goAccount(post.user.slug)"></div>
                                <div class="user-name" ng-click="goAccount(post.user.slug)">{{post.user.username}}</div>
                            </div>
                            <div class="desc_row">
                                <span class="likes-count"><i class="ion-ios-heart"></i> {{ likesCount(post) }} likes</span>
                            </div>
                            <div class="desc_row">
                                <span class="desc_stat"><i class="fa {{getCardGenderStatIcon(post.post_analytic)}}" aria-hidden="true"></i> {{getMaxStat(post.post_analytic, 'gender')}}% &nbsp; {{getMaxStat(post.post_analytic, 'age')}}%</span>
                            </div>
                            <div class="desc_row">
                                <span class="time-ago grey-small-font desc_time" ng-if="post"><i class="fa {{postTimer.icon(post.created_at)}}" aria-hidden="true"></i> {{postTimer.timeLeft(post.created_at)}}</span>
                            </div>
                            <div class="add_to_compare">
                                <button class= "button button-clear button-dark icon like-button" ng-click="toggleLike($event,post)" ng-class="post.user_liked ? 'ion-ios-heart' : 'ion-ios-heart-outline'" ng-if="notMe(post)"></button>
                                <button class="button button-clear button-dark icon add-compare-button" ng-class="{true: 'ion-minus', false: 'ion-plus'}[comparePosts.has(post.id)]" ng-click="comparePosts.toggle(post.id)"></button>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
