<ion-view class="post-card-list" id="home" view-title="FOLLOWING">
    <ion-content scroll-watch ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <div class="loading-spinner" data-loading ng-if="is_list_loading">
            <ion-spinner></ion-spinner>
        </div>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
        </ion-refresher>
        <div class="no-result" ng-if="list.length == 0 && is_result_empty">
            Tap the <i class="icon ion-search"></i> and find other Snaplookers to follow
        </div>
        <ion-list>
            <div>
                <ion-item ng-repeat="post in list track by $index" class="post-card">
                    <div class="entity-id-{{post.id}}">
                        <div class="post-card-header clearfix">
                            <div class="profile">
                                <div class="profile-image" style="background-image: url( {{ photoPath( post.user.profile_img_path, 's' ) }} )" ng-click="goAccount(post.user.slug)"></div>
                                <div class="profile-text">
                                    <div class="user-name" ng-click="goAccount(post.user.slug)">{{post.user.username}}</div>
                                    <div class="time-ago" ng-click="goAccount(post.user.slug)">{{post.display_time}}</div>
                                </div>
                            </div>
                            <div class="more-option">
                                <span class="icon ion-ios-more" ng-click="postCard.moreOption(list, $index)"></span>
                            </div>
                        </div>
                        <div class="caption" ng-bind-html="linkHashTagAndOccasion(post) | unsafe"></div>
                        <div class="look-list">
                            <ion-scroll direction="x" delegate-handle="handle-horizontal">
                                <div ng-repeat="look in post.photos" class="look">
                                    <div class="look-img-wrapper entity-id-{{look.id}}" style="background-image: url({{ photoPath( look.img_path, 'm' ) }})" ng-click="goLookDetail(look)">
                                        <a class="look-img"></a>
                                    </div>
                                    <div class="vote-toggle">
                                        <div class="check-mark icon ion-ios-checkmark-empty" ng-click="postCard.voteToggle(look)" ng-class="look.user_liked ? 'checked' : 'not-checked'"></div>
                                    </div>
                                </div>
                            </ion-scroll>
                        </div>
                        <div class="post-summary clearfix">
                            <div class="totals">
                                {{ post.photos.length }} Looks{{ postCard.commentCount(post) }}{{ postCard.voteCount(post) }}
                            </div>
                        </div>
                        <hr>
                        <div class="post-card-footer clearfix">
                            <div class="option comment">
                                <button class="button button-clear button-dark icon ion-ios-chatbubble-outline" ng-click="goPostComment(post.id)">&nbsp;&nbsp;Comment</button>
                            </div>
                            <div class="option result">
                                <button class="button button-clear button-dark icon ion-ios-checkmark-outline" ng-click="goVoteResult(post.id)">&nbsp;&nbsp;Result</button>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                </ion-item>
            </div>
        </ion-list>
        <div class="load-more-snaplooks" ng-show="list.length > 0 && ! is_pagination_done">
            <button class="button button-block button-positive" ng-click="load()">Load More SnapLooks</button>
        </div>
    </ion-content>
</ion-view>
