<ion-view class="masonry-post-list" id="account-notification" view-title="<snap-title>NOTIFICATION</snap-title>">
    <ion-content ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="no-result" ng-if="noResult">
            No Notifications
        </div>
        <div class="loading-spinner" data-loading ng-if="notifications.length == 0 && !noMoreItemsAvailable">
            <ion-spinner></ion-spinner>
        </div>
        <ion-list>
            <ion-item class="item" ng-repeat="notification in notifications" ng-click="goNotificationDetail(notification.target_src)">
                <div class="entity-id-{{ ::notification.id }}">
                    <div data_id="{{ ::notification.initiator.slug }}" ng-click="goAccount(notification.initiator.slug); $event.stopPropagation();">
                        <div class="notification-image" style="background: url({{::photoPath( notification.initiator.profile_img_path, 's' )}})"></div>
                    </div>
                    <div ng-bind-html="::notification.contents | unsafe" class="notification-content"></div>
                    <div class="time-ago grey-small-font">{{::getTimeAgo(notification.created_at)}}</div>
                </div>
            </ion-item>
            <a href="#/tab{{ ::notification.target_src }}/notification">
            </a>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>
