<ion-view class="post-card-list-two-columns" id="tab-account" view-title="<snap-title>PROFILE</snap-title>">
    <ion-content scroll-watch ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
        </ion-refresher>
        <div class="account-top entity-id-{{account_info.id}}">
            <button class="button button-clear icon ion-gear-b account-option-btn" ng-click="goAccountOption()" ng-if="!notMe(account_info)"></button>
            <button class="button button-small follow-toggle" ng-class="{'following' : account_info.following_check}" ng-click="toggleFollow(account_info)" ng-if="account_info && notMe(account_info)"></button>
            <div class="account-image" style="background-image: url({{accountImage}})" ng-click="changeProfilePicture()"></div>
            <div class="user-name">
                <ion-spinner icon="ios-small" ng-if="!account_info"></ion-spinner>
                {{ account_info.username }}
            </div>
            <div class="user-joined">Joined <span class="time-ago" am-time-ago="account_info.created_at | amUtc" ng-if="account_info"></span> ago</div>
            <div class="account-achievement row">
                <div class="account-post-btn col" ng-click="goAccountPost()">{{account_info.posts_count}}<br>Posts</div>
                <div class="account-followers-btn col" ng-click="goAccountFollower(account_info.slug)"><span class="dynamic-follower-count">{{account_info.follower_count}}</span><br>Followers</div>
                <div class="account-following-btn col" ng-click="goAccountFollowing(account_info.slug)"><span class="dynamic-following-count">{{account_info.following_count}}</span><br>Following</div>
            </div>
        </div>
        <div class="loading-spinner" data-loading ng-if="is_list_loading">
            <ion-spinner></ion-spinner>
        </div>
        <div class="no-result" ng-if="list.length == 0 && is_result_empty">
            No Outfit Ideas
        </div>
        <ion-list>
            <div>
                <ion-item ng-repeat="post in list track by $index" class="post-card" ng-class="$even ? 'even' : 'odd'">
                    <div class="entity-id-{{post.id}}" ng-click="goPostDetail(post, list)">
                        <div class="photo-img-wrapper entity-id-{{post.photos[0].id}}" style="background-image: url({{ photoPath( post.photos[0].img_path, 'l' ) }})">
                            <a class="photo-img"></a>
                        </div>
                        <div class="post-title">
                            <p>{{post.duel.title}}</p>
                        </div>
                    </div>
                    <i class="ion-ios-browsers"></i>
                </ion-item>
            </div>
        </ion-list>
        <div class="load-more-snaplooks ng-hide" ng-show="list.length > 0 && ! is_pagination_done">
            <button class="button button-block button-positive" ng-click="load()">Load More Outfit Ideas</button>
        </div>
    </ion-content>
</ion-view>
