<ion-view id="tab-account" class="post-list" view-title="PROFILE">
    <ion-content ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="account-top entity-id-{{account_info.id}}">
            <button class="button button-clear icon ion-gear-b account-option-btn" ng-click="goAccountOption()" ng-if="!notMe(account_info)"></button>
            <button class="button button-small follow-toggle" ng-class="{'following' : account_info.following_check}" ng-click="toggleFollow(account_info)" ng-if="account_info && notMe(account_info)"></button>
            <div class="account-image" style="background: url({{accountImage}})" ng-click="changeProfilePicture()"></div>
            <div class="user-name">
                <ion-spinner icon="ios-small" ng-if="!account_info"></ion-spinner>
                {{ account_info.username }}
            </div>
            <div class="user-joined">Joined at <span class="time-ago" am-time-ago="account_info.created_at | amUtc" ng-if="account_info"></span></div>
            <div class="account-achievement row">
                <div class="account-post-btn col" ng-click="goAccountPost()"><span class="ion-camera"></span><br>{{account_info.posts_count}}<br>Posts</div>
                <div class="account-like-btn col"><span class="ion-ios-heart"></span><br>{{account_info.likes_count}}<br>Likes</div>
                <div class="account-followers-btn col" ng-click="goAccountFollower(account_info.slug)"><span class="ion-ios-people"></span><br><span class="dynamic-follower-count">{{account_info.follower_count}}</span><br>Followers</div>
                <div class="account-following-btn col" ng-click="goAccountFollowing(account_info.slug)"><span class="ion-android-person"></span><br><span class="dynamic-following-count">{{account_info.following_count}}</span><br>Following</div>
            </div>
        </div>
        <div class="no-result" ng-if="noResult">
            No look posted today
        </div>
        <div class="loading-spinner" data-loading ng-if="posts.length == 0 && !noMoreItemsAvailable">
            <ion-spinner></ion-spinner>
        </div>
        <ion-list>
            <div>
                <ion-item collection-repeat="post in posts" class="post" collection-item-width="'100%'">
                    <div class="entity-id-{{post.id}} {{post.align_class}}">
                        <ion-item style="background-image: url({{ photoPath( post.photos[0].img_path, 'm' ) }})" ng-click="goPostDetail(post.id, account_info, posts, $index)">
                            <a class="post_img"></a>
                        </ion-item>
                        <div>
                            <div class="desc_row profile">
                                <div class="profile-image" style="background-image: url( {{ photoPath( post.user.profile_img_path, 's' ) }} )" ng-click="goAccount(post.user.slug)"></div>
                                <div class="user-name" ng-click="goAccount(post.user.slug)">{{post.user.username}}</div>
                            </div>
                            <div class="desc_row">
                                <span class="likes-count">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    <span class="like-count-number">{{ likesCount(post) }}</span> likes
                                </span>
                            </div>
                            <div class="desc_row" ng-hide="post.occasion == null">
                                <span class="occasion grey-small-font"><i class="fa fa-map-marker" aria-hidden="true"></i> {{post.occasion.name}}</span>
                            </div>
                            <div class="desc_row">
                                <span class="desc_stat"><i class="fa {{getCardGenderStatIcon(post.post_analytic)}}" aria-hidden="true"></i> {{getMaxStat(post.post_analytic, 'gender')}}% &nbsp; {{getMaxStat(post.post_analytic, 'age')}}%</span>
                            </div>
                            <div class="desc_row">
                                <span class="time-ago grey-small-font desc_time" ng-if="post"><i class="fa {{post.display_icon}}" aria-hidden="true"></i> {{post.display_time}}</span>
                            </div>
                            <div class="add_to_compare">
                                <button class="button button-clear button-dark icon like-button" ng-click="toggleLike($event,post)" ng-class="post.user_liked ? 'ion-ios-heart' : 'ion-ios-heart-outline'" ng-if="notMe(account_info)"></button>
                                <button class="button button-clear button-dark icon add-compare-button ion-ios-checkmark-outline" ng-click="goPostCompare(post.set_ids, isMyAccount && ( post.display_icon != 'fa-calendar' || post.visibility == 'permanent' ))"></button>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>
