<div id="new-post-wrapper">
    <div id="new-post-button" class="explore" ng-click="loadNewPost()" ng-show="newPostAvailable">
        <i class="fa fa-arrow-up" aria-hidden="true"></i> New Looks
    </div>
</div>
<ion-view class="post-list" id="tab-explore" view-title="<img class='title-image' src='img/logo.png'/>">
    <ion-content on-scroll="scrollList();scrollDetectWhenNewPostAvailable();">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <form name="searchForm" ng-submit="submitSearch(searchTerm)" ng-show="noSearchTerm()">
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" id="search" placeholder="{{ showPlaceHolder() }}" ng-model="searchTerm" ng-change="fetchSearchResult(searchTerm)" ng-click="showSearchSection();" autocomplete="off">
                </label>
                <div ng-click="searchTerm='';focusSearch();" class="button button-clear search-clear" ng-show="showSearch">X</div>
            </div>
        </form>
        <div class="search-header" ng-hide="noSearchTerm()">
            <h3>{{ showSearchTerm() }}</h3>
        </div>
        <div class="no-result" ng-if="noResult">
            No look shared in 24 hours. Please invite your friends
        </div>
        <div class="loading-spinner" data-loading ng-if="posts.length == 0 && !noMoreItemsAvailable">
            <ion-spinner></ion-spinner>
        </div>
        <ion-list ng-hide="showSearch">
            <div>
                <ion-item collection-repeat="post in posts" class="post" collection-item-width="'100%'">
                    <div class="entity-id-{{post.id}}">
                        <ion-item style="background-image: url({{ photoPath( post.photos[0].img_path, 'm' ) }})" ng-click="goPostDetail(post.id)">
                            <a class="post_img"></a>
                        </ion-item>
                        <div>
                            <div class="desc_row profile">
                                <div class="profile-image" style="background-image: url( {{ photoPath( post.user.profile_img_path, 's' ) }} )" ng-click="goAccount(post.user.slug)"></div>
                                <div class="user-name" ng-click="goAccount(post.user.slug)">{{post.user.username}}</div>
                            </div>
                            <div class="desc_row">
                                <span class="likes-count">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    <span class="like-count-number">{{ likesCount(post) }}</span> likes
                                </span>
                            </div>
                            <div class="desc_row" ng-hide="post.occasion == null">
                                <span class="occasion grey-small-font"><i class="fa fa-map-marker" aria-hidden="true"></i> {{post.occasion.name}}</span>
                            </div>
                            <div class="desc_row" ng-hide="isStatNotAvailable(post)">
                                <span class="desc_stat"><i class="fa {{getCardGenderStatIcon(post.post_analytic)}}" aria-hidden="true"></i> {{getMaxStat(post.post_analytic, 'gender')}}% &nbsp; {{getMaxStat(post.post_analytic, 'age')}}%</span>
                            </div>
                            <div class="desc_row">
                                <span class="time-ago grey-small-font desc_time" ng-if="post"><i class="fa {{postTimer.icon(post.created_at)}}" aria-hidden="true"></i> {{postTimer.timeLeft(post.created_at)}}</span>
                            </div>
                            <div class="add_to_compare">
                                <button class="button button-clear button-dark icon like-button" ng-click="toggleLike($event,post)" ng-class="post.user_liked ? 'ion-ios-heart' : 'ion-ios-heart-outline'"></button>
                                <button class="button button-clear button-dark icon add-compare-button ion-ios-browsers-outline" ng-click="goPostCompare(post.set_ids)"></button>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
        <ion-list ng-show="showSearch" class="explore-search">
            <div class="compare-toggle">
                <a ng-class="{ active: search_type_active === 'all' }" ng-click="setType(searchTerm, 'all');fetchSearchResult(searchTerm);">All</a>
                <a ng-class="{ active: search_type_active === 'people' }" ng-click="setType(searchTerm, 'people');fetchSearchResult(searchTerm);">People</a>
                <a ng-class="{ active: search_type_active === 'tag' }" ng-click="setType(searchTerm, 'tag');fetchSearchResult(searchTerm);">Tag</a>
                <a ng-class="{ active: search_type_active === 'occasion' }" ng-click="setType(searchTerm, 'occasion');fetchSearchResult(searchTerm);">Occasion</a>
            </div>
            <div class="search-running" ng-if="isSearchRunning">
                <i class="fa fa-search" aria-hidden="true"></i> Searching...
            </div>
            <div class="no-result" ng-if="noSearchResult && searchTerm.length">
                {{showNoSearchResultText()}}
            </div>
            <div>
                <ion-item ng-show="!noSearchResult" ng-repeat="line in searchResult" class="post">
                    <div ng-if="line.type == 'tag'" ng-click="goSearchPost(line.name, 'tag')" class="post-item"><span class="tag_sign">&nbsp;<i class="fa fa-hashtag" aria-hidden="true"></i>&nbsp;</span><span class="name">{{line.name}}</span></div>
                    <div ng-if="line.type == 'occasion'" ng-click="goSearchPost(line.name, 'occasion')" class="post-item"><span class="at_sign"><i class="fa fa-map-marker" aria-hidden="true"></i></span><span class="name">{{line.name}}</span></div>
                    <div ng-if="line.type == 'user'" class="entity-id-{{line.id}} post-item">
                        <div ng-click="goAccount(line.slug)" style="background-image: url( {{ photoPath( line.profile_img_path, 's' ) }} )" class="profile-image"></div>
                        <div ng-click="goAccount(line.slug)" class="name">{{ line.name }}</div>
                    </div>
                </ion-item>
        </div>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>
