<ion-view id="tab-ranking" view-title="RANKING">
    <ion-content ng-class="{
        'has-blocker-message': blockerMessage.isNeeded()
    }">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="ranking-title">
            <h4>Mar 2016 Top Colleges with<br>Most Fashionable Students</h4>
        </div>
        <div class="loading-spinner" data-loading ng-if="schools.length == 0 && !noMoreItemsAvailable">
            <ion-spinner></ion-spinner>
        </div>
        <ion-list>
            <ion-item ng-repeat="school in schools" class="ranking-list item-text-wrap" ng-click="goSchoolDetail(school.id,school.name)">
                <span class="ranking-badge">#{{$index+1}}</span> <span class="school-name">{{school.name}}</span>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>
