<ion-view id="tab-account" class="masonry-post-list" view-title="PROFILE">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="account-top" style="background-image: url( {{ photoPath( account_info.cover_img_path, '' ) }} )">
            <button class="button button-clear icon ion-gear-b account-option-btn" ng-click="goAccountOption()" ng-if="!notMe(account_info)"></button>
            <button class="button button-small follow-toggle" ng-class="{'following' : account_info.following_check}" ng-click="followToggle(account_info)" ng-if="notMe(account_info)"></button>
            <div class="account-image" style="background-image: url( {{ photoPath( account_info.profile_img_path, 's' ) }} )" ng-click="changeProfilePicture()"></div>
            <div class="user-name">{{ account_info.first_name }} {{ account_info.last_name }}</div>
            <div class="user-school" ng-click="goSchoolDetail(account_info.school.id, account_info.school.name)" ng-if="account_info.school.id != 0">{{ account_info.school.name }}</div>
            <div class="user-joined">Joined at <span class="time-ago" am-time-ago="account_info.created_at | amUtc" ng-if="account_info"></span></div>
            <div class="account-achievement row">
                <div class="button button-clear icon account-post-btn ion-camera col" ng-click="goAccountPost()"><br>{{account_info.posts_count}}<br>Posts</div>
                <button class="button button-clear icon account-like-btn ion-ios-heart col" ng-click="goAccountLiked(account_info.slug)"><br>{{account_info.likes_count}}<br>Likes</button>
                <button class="button button-clear icon account-followers-btn ion-ios-people col" ng-click="goAccountFollower(account_info.slug)">
                    <br><span class="dynamic-follower-count">{{account_info.follower_count}}</span><br>Followers
                </button>
                <button class="button button-clear icon account-following-btn ion-android-person col" ng-click="goAccountFollowing(account_info.slug)">
                    <br><span class="dynamic-following-count">{{account_info.following_count}}</span><br>Following
                </button>
            </div>
            <div class="account-social-network row">
                <button class="button button-clear icon col ion-social-facebook account-facebook-btn" ng-click="goAccountSocialNetwork('facebook')" ng-if="account_info.social_networks.facebook"></button>
                <button class="button button-clear icon col ion-social-twitter account-twitter-btn" ng-click="goAccountSocialNetwork('twitter')" ng-if="account_info.social_networks.twitter"></button>
                <button class="button button-clear icon col ion-social-instagram-outline account-instagram-btn" ng-click="goAccountSocialNetwork('instagram')" ng-if="account_info.social_networks.instagram"></button>
                <button class="button button-clear icon col ion-social-pinterest account-pinterest-btn" ng-click="goAccountSocialNetwork('pinterest')" ng-if="account_info.social_networks.pinterest"></button>
            </div>
            <div class="tabs-striped">
                <div class="tabs">
                    <a class="tab-item" ng-click="activateTab('best')" ng-class="{'activatedd' : activatedTab == 'best' }">
                        Best
                    </a>
                    <a class="tab-item" ng-click="activateTab('new')" ng-class="{'activatedd' : activatedTab == 'new' }">
                        New
                    </a>
                </div>
            </div>
            <ion-spinner icon="ios-small" ng-if="!user"></ion-spinner>
        </div>
        <div class="no-result" ng-if="noResult">
            No look posted
        </div>
        <div class="loading-spinner" data-loading ng-if="posts.length == 0">
            <ion-spinner></ion-spinner>
        </div>
        <ion-list>
            <div masonry preserve-order>
                <ion-item ng-repeat="post in posts" class="masonry-brick" data-id="{{ post.id }}">
                    <img ng-src="{{ photoPath( post.photos[0].img_path, 'm' ) }}" ng-click="goPostDetail(post.id)">
                </ion-item>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>
