<ion-view class="masonry-post-list" id="tab-explore" view-title="TODAY'S LOOKS">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <form name="searchForm" ng-submit="submitSearch(searchTerm)" ng-show="noSearchTerm()">
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" id="search" placeholder="Search hashtags" ng-model="searchTerm">
                </label>
                <div ng-click="searchTerm='';focusSearch();" class="button button-clear" ng-show="searchTerm.length">X</div>
            </div>
        </form>
        <div class="search-header" ng-hide="noSearchTerm()">
            <h3>{{ tagSearchTerm() }}</h3>
        </div>
        <div class="no-result" ng-if="noResult">
            No look shared in 24 hours. Please invite your friends
        </div>
        <div class="loading-spinner" data-loading ng-if="posts.length == 0 && !noMoreItemsAvailable">
            <ion-spinner></ion-spinner>
        </div>
        <ion-list>
            <div>
                <ion-item ng-repeat="post in posts" class="post">
                    <ion-item style="background-image: url({{ photoPath( post.photos[0].img_path, 'm' ) }})" ng-click="goPostDetail(post.id)">
                        <a class="post_img"></a>
                    </ion-item>
                    <div>
                        <div class="desc_top_row">
                            <span class="desc_stat"><i class="fa {{getCardGenderStatIcon(post.post_analytic)}}" aria-hidden="true"></i> {{getMaxStat(post.post_analytic, 'gender')}}% &nbsp; {{getMaxStat(post.post_analytic, 'age')}}%</span>
                            <button class="button button-clear button-dark icon add-compare-button" ng-class="{'ion-minus' : compareIndexList[post.id], 'ion-plus' : !compareIndexList[post.id]}" ng-click="addCompare(post.id)"></button>
                        </div>
                        <div class="desc_bottom_row">
                            <span class="desc_name"><a href="#/tab/account/{{post.user.slug}}/{{tab}}" onclick="event.stopPropagation();">{{getNameOnCard(post.user.first_name, post.user.last_name)}}</a></span>
                            <span class="time-ago grey-small-font desc_time" ng-if="post"><i class="fa {{post.time_icon}}" aria-hidden="true"></i> {{post.created_from}} Left</span>
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>