<ion-view id="tab-profile" view-title="{{ user.first_name }} {{ user.last_name }}'s Profile">
    <ion-header-bar align-title="left" class="bar-subheader">
        <div style="background-image: url({{ photoPath( user.cover_img_path, '' ) }}); width: 300px; height: 300px;">
            <div class="profile-image" style="background-image: url( {{ photoPath( user.profile_img_path, 'm' ) }} ); width: 300px; height: 300px;"></div>
            <div class="user-name">{{ user.first_name }} {{ user.last_name }}</div>
            <div class="user-name">{{ user.school.name }}</div>
            <div class="user-name">Joined at {{ moment(user.duration().created_at).humanize(); }}</div>
            <span class="time-ago grey-small-font" am-time-ago="user.created_at | amUtc" ng-if="user"></span>
            <div class="user-name">{{ user.social_networks }}</div>
        </div>
        </a>
        <span class="time-ago grey-small-font" am-time-ago="user.created_at | amUtc" ng-if="user"></span>
        <ion-spinner icon="ios-small" ng-if="!post"></ion-spinner>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-list>
            <ion-item ng-repeat="post in posts" href="#/tab/post/{{post.id}}">
                <img ng-src="{{ photoPath( post.photos[0].img_path, 'm' ) }}">
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>