<ion-view id="tab-profile" view-title="{{ user.first_name }} {{ user.last_name }}'s Profile">
    <ion-header-bar align-title="left" class="bar-subheader">
        <a href="#">
            <div class="profile-image" style="background-image: url( {{ photoPath( user.profile_img_path, 's' ) }} )"></div>
            <div class="user-name">{{ user.first_name }} {{ user.last_name }}</div>
        </a>
        <span class="time-ago grey-small-font" am-time-ago="user.created_at | amUtc" ng-if="user"></span>
        <ion-spinner icon="ios-small" ng-if="!post"></ion-spinner>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-list>
            <ion-item ng-repeat="post in posts" href="#/tab/post/{{post.id}}">
                <div class="col-50">
                    <div class="card">
                        <div class="item item-image">
                            <img ng-src="{{ photoPath( post.photos[0].img_path, 'l' ) }}">
                        </div>
                    </div>
                </div>

            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>