<ion-view cache-view="false" view-title="<snap-title>SEE HOW</snap-title>" id="wardrobe-browser">
    <ion-content>
        <div class="content-wrapper" ng-show="noAngularVar_device==='android'">
            <h1>On Mobile Chrome</h1>
            1. Tap address bar from mobile browser.
            <img src="img/direction/android-share-1.jpg"/>
            2. Tap the&nbsp;&nbsp;<i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;symbol from mobile browser.
            <img src="img/direction/android-share-2.jpg"/>
            4. You should see SnapLook in your list of apps. Now, you can easily save items to SnapLook while you're browsing.
            <img src="img/direction/android-share-3.jpg"/>
            <h1>On Other Browsers</h1>
            1. Tap the&nbsp;&nbsp;<i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;symbol from mobile browser.<br/><br/>
            2. You should see SnapLook in your list of apps. Now, you can easily save items to SnapLook while you're browsing.
            <img src="img/direction/android-share-3.jpg"/>
        </div>
        <div class="content-wrapper" ng-show="noAngularVar_device!=='android'">
            <h1>On iOS 13</h1>
            1. Tap the&nbsp;&nbsp;<i class="icon ion-ios-upload-outline"></i>&nbsp;&nbsp;symbol from mobile browser.
            <img src="img/direction/ios-share-1.png"/>
            2. Scroll to the right to find the "More" button and tap it.
            <img src="img/direction/ios-share-2.png"/>
            <img src="img/direction/ios-share-3.png"/>
            3. Tap edit at the top right.
            <img src="img/direction/ios-share-4.png"/>
            4. Find SnapLook in your list of apps and make sure it's toggled "on".
            <img src="img/direction/ios-share-5.png"/>
            5. Tap the "+" on the left side of the app to add it to the share menu.
            <img src="img/direction/ios-share-6.png"/>
            6. If you want to change the order of apps that appear in your share menu, tap on hold the bars to the far right to move SnapLook closer to the top.
            <img src="img/direction/ios-share-7.png"/>
            7. Tap "Done" and you should see SnapLook in your list of apps. Now, you can easily save items to SnapLook while you're browsing.
            <h1 style="margin-top:15vw;">On iOS 12 and earlier</h1>
            1. Tap the&nbsp;&nbsp;<i class="icon ion-ios-upload-outline"></i>&nbsp;&nbsp;symbol from mobile browser.
            <img src="img/direction/mobile-share-icon-0.png"/>
            2. Scroll to the right to find the "More" button.
            <img src="img/direction/mobile-share-icon-1.png"/>
            <img src="img/direction/mobile-share-icon-2.png"/>
            3. Find SnapLook in your list of apps and toggle it on. <b>Pro tip:</b> Use the bars next to the toggle button to slide apps up and down and put them in your preferred order. We suggest putting SnapLook at the top!
            <img src="img/direction/mobile-share-icon-3.png"/>
            4. Tap "Done" and you should see SnapLook in your list of apps. Now, you can easily save items to SnapLook while you're browsing.
            <img src="img/direction/mobile-share-icon-4.png"/>
        </div>
    </ion-content>
</ion-view>
