<ion-view cache-view="false" view-title="<snap-title>SWAP ITEM IMAGE</snap-title>" id="wardrobe-swap">
    <style>
        #wardrobe-swap .selected img{
            border: 2px solid #85ff00;
        }
    </style>
    <ion-content>
        <div style="display:inline-block" ng-repeat="image in item.product.images" ng-click="select(image)" ng-class="image == selected_image?'selected':'unselected'">
            <img width=100 height=100 ng-src="{{ image }}""/>
        </div>
        <div ng-show="noImageToShow()">
            No other image is available. If you think this is an error, please reimport product images.
        </div>
        <div class="padding"></div>
        <div class="padding" ng-show="selected_image">
            <button class="button button-block button-positive" ng-click="swap()">Swap</button>
        </div>
    </ion-content>
</ion-view>
