<ion-view cache-view="false" view-title="<snap-title>SWAP ITEM IMAGE</snap-title>" id="wardrobe-swap">
    <ion-content>
        <div class="image-cards-wrapper">
            <ion-item ng-repeat="image in item.product.images track by $index" class="image-card" ng-click="select(image)" ng-class="image == selected_image?'selected':'unselected'">
                <div class="photo-img-wrapper" style="background-image: url({{ image }})">
                </div>
            </ion-item>
            <div ng-show="noImageToShow()" class="no-image-to-swap-message">
                No other item image is available. If you think this is an error, please reimport item images.
            </div>
            <div class="padding clearfix"></div>
            <div class="padding" ng-show="selected_image">
                <button class="button button-block button-positive" ng-click="swap()">Swap</button>
            </div>
        </div>
    </ion-content>
</ion-view>
