<ion-view cache-view="false" view-title="<snap-title>WARDROBE</snap-title>" id="wardrobe">
    <ion-content>
        <div class="control-pannel">
            <button class="button" ng-click="load()"><i class="fa fa-download" aria-hidden="true"></i> Load Selected</button>
            <button class="button" ng-click="add()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add an Item</button>
        </div>
        <div class="image-cards-wrapper">
            <ion-item ng-repeat="item in data.processing_item_array" class="image-card">
                <div class="photo-img-wrapper" style="background-image: url({{ item.image }})">
                </div>
            </ion-item>
            <ion-item ng-repeat="item in data.item_array" class="image-card" ng-click="toggleSelect(item)" on-hold="edit(item)" ng-class="item.selected?'selected':'unselected'">
                <div class="photo-img-wrapper" style="background-image: url({{ item.image }})">
                </div>
            </ion-item>
            <div ng-show="noImageToShow()">
                No other image is available. If you think this is an error, please reimport product images.
            </div>
            <div class="padding clearfix"></div>
        </div>
    </ion-content>
</ion-view>
