<?xml version='1.0' encoding='utf-8'?>
<widget id="today.snaplook.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Snaplook</name>
    <description>
        Styling Made Easy
    </description>
    <author email="info@snaplook.today" href="http://snaplook.today/">Snaplook Inc</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="ios">
        <icon height="1024" src="resources/ios/icon/icon-1024.png" width="1024" />
        <icon height="29" src="resources/ios/icon/icon-small.png" width="29" />
        <icon height="58" src="resources/ios/icon/icon-small@2x.png" width="58" />
        <icon height="87" src="resources/ios/icon/icon-small@3x.png" width="87" />
        <icon height="40" src="resources/ios/icon/icon-small-40.png" width="40" />
        <icon height="80" src="resources/ios/icon/icon-small-40@2x.png" width="80" />
        <icon height="120" src="resources/ios/icon/icon-small-40@3x.png" width="120" />
        <icon height="50" src="resources/ios/icon/icon-small-50.png" width="50" />
        <icon height="100" src="resources/ios/icon/icon-small-50@2x.png" width="100" />
        <icon height="57" src="resources/ios/icon/icon.png" width="57" />
        <icon height="114" src="resources/ios/icon/icon@2x.png" width="114" />
        <icon height="60" src="resources/ios/icon/icon-60.png" width="60" />
        <icon height="120" src="resources/ios/icon/icon-60@2x.png" width="120" />
        <icon height="180" src="resources/ios/icon/icon-60@3x.png" width="180" />
        <icon height="72" src="resources/ios/icon/icon-72.png" width="72" />
        <icon height="144" src="resources/ios/icon/icon-72@2x.png" width="144" />
        <icon height="76" src="resources/ios/icon/icon-76.png" width="76" />
        <icon height="152" src="resources/ios/icon/icon-76@2x.png" width="152" />
        <icon height="167" src="resources/ios/icon/icon-167.png" width="167" />
        <icon height="167" src="resources/ios/icon/icon-83.5@2x.png" width="167" />
        <splash src="resources/ios/splash/Default@2x~iphone~anyany.png" />
        <splash src="resources/ios/splash/Default@2x~iphone~comany.png" />
        <splash src="resources/ios/splash/Default@3x~iphone~anyany.png" />
        <splash src="resources/ios/splash/Default@3x~iphone~comany.png" />
        <splash src="resources/ios/splash/Default@2x~ipad~anyany.png" />
        <splash src="resources/ios/splash/Default@2x~ipad~comany.png" />
    </platform>
    <platform name="android">
        <icon density="ldpi" src="resources/android/icon/ldpi.png" />
        <icon density="mdpi" src="resources/android/icon/mdpi.png" />
        <icon density="hdpi" src="resources/android/icon/hdpi.png" />
        <icon density="xhdpi" src="resources/android/icon/xhdpi.png" />
        <icon density="xxhdpi" src="resources/android/icon/xxhdpi.png" />
        <icon density="xxxhdpi" src="resources/android/icon/xxxhdpi.png" />
        <splash density="port-ldpi" src="resources/android/splash/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="resources/android/splash/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="resources/android/splash/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="resources/android/splash/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="resources/android/splash/splash-port-xxxhdpi.png" />
    </platform>
    <allow-navigation href="http://192.168.1.240:8100" />
    <plugin name="cordova-plugin-appsee" spec="^2.3.65" />
    <plugin name="cordova-plugin-x-socialsharing" spec="git+https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin.git" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <plugin name="cordova-plugin-fcm-with-dependecy-updated" spec="^2.4.0" />
    <engine name="android" spec="^7.1.4" />
    <engine name="ios" spec="^4.5.5" />
</widget>
