#post-detail{
  .main-image{
    width: 100%;
  }
  ion-header-bar{
    .profile-image{
      width: 25px;
      height: 25px;
      @extend .background-image-handler;
      @include border-radius(50%);
      float: left;
      margin: 5px;
    }
    .user-name{
      float: left;
      padding: 7px;
    }
    .time-ago{
      float: right;
      padding: 7px;
    }
    ion-spinner{
      float: right;
      padding: 3px;
    }
  }
  ion-content{
    .button{
      min-width: 42px;
    }
    .button.button-dark.button-clear.ion-ios-heart{
      color: $like-red;
    }
    .like-count{
      padding-top: 10px;
      padding-left: 10px;
      color: $primary-color-dark;
    }
    .content{
      padding: 0 10px 10px 10px;
      white-space: normal;
      font-size: 14px;
      color: #444;
    }
  }
  form .item-input-inset{
    border: 0;
  }
}