#compare {
  .desc_top_row {
  	height: 30px;
  	padding: 5px;
    border-bottom: 1px solid #ddd;

  	.desc_stat {
  		font-size: 13px;
      color: #bbb;
      position: relative;
      top: -3px;
  	}

    .desc_stat .fa {
      font-size: 1.6em;
      position: relative;
      top: 3px;
    }
  }

  .desc_bottom_row {
  	height: 30px;
  	padding: 5px;

  	.desc_time {
  		float: right;
  		font-size: 13px;
      color: #bbb;
  	}

  	.desc_name {
  		font-size: 13px;
  		font-weight: bold;
  	}
  }

  .overflow-scroll .scroll {
    height: auto !important;
  }

  .item{
    position: relative;
    .ranking{
      position: absolute;
      top: 10px;
      left: 10px;
      color: #fff;
      background-color: #000;
      width: 23px;
      height: 23px;
      text-align: center;
      font-size: 12px;
      border: 2px solid #fff;
      @include border-radius(50%);
    }
    .button.button-dark.button-clear.ion-ios-heart {
      color: #FF4C62;
    }
  }
  .sort{
    margin-bottom: 0;
  }
}
