#compare {
    .compare-toggle{
        a{
            padding: 10px;
            float: right;
        }
        .label{
            padding: 10px;
            float: left;
        }
        .active{
            background-color: #FF4C62;
            color: white;
            border-radius: 16px;
            font-weight: 500;
            padding: 4px 10px;
            margin-top: 6px;
        }
        border-bottom: 1px solid #eee;
        padding: 2px;
    }
    .compare-toggle:after{
        content: "";
        display: table;
        clear: both;
    }
    .item{
        position: relative;
        .partial_likes{
            color: #fff;
            background-color: #ff4b61;
            padding: 1px 7px 1px 7px;
            text-align: center;
            font-size: 13px;
            @include border-radius(25px);
        }
    }
    .sort{
        margin-bottom: 0;
    }
}
