#tab-explore{
  .desc_top_row {
  	height: 30px;
  	padding: 5px;
    border-bottom: 1px solid #ddd;

  	.desc_stat {
  		font-size: 13px;
      color: #bbb;
      position: relative;
      top: -3px;
  	}

    .desc_stat .fa {
      font-size: 1.4em;
      position: relative;
      top: 3px;
    }
  }

  .desc_bottom_row {
  	height: 30px;
  	padding: 5px;

  	.desc_time {
  		float: right;
  		font-size: 13px;
      color: #bbb;

      i.fa {
        margin-right: 2px;
      }
  	}

  	.desc_name {
  		font-size: 13px;
  		font-weight: bold;
      color: $a-color;
  	}
  }
}
