#create-post {
	.post-image{
		width: 50%;
		padding: 10px auto;
		margin: 12px;
		img{
			@include border-radius(3px);
		}
	}

	.post-caption{
		textarea{
			width: 100%;
			border: 1px solid #ddd;
			padding: 10px;
			@include border-radius(3px);
		}	
	}

	img {
		max-height: 300px;
		max-width: 100%;
	}

	.item-image img:first-child,
	.item-image .list-img {
	    width: auto;
	    margin: auto;
	}

	.post-image .item {
		padding: 0px;
	}
}
