#create-post-step-1, #create-post{
	.steps{
		width: 50vw;
		height: 14vw;
		margin: 0 auto;
		position: relative;
		margin-top: 7vw;

		.line{
			position: absolute;
			background-color: #eee;
			width: 90%;
			height: 0.5vw;
			top: 4vw;
			left: 5%;
		}
		.line.completed{
			background-color: $primary-color;
		}
		.step{
			display: inline-block;
			background-color: #eee;
			color: #ccc;
			font-weight: bolder;
			@include border-radius(50%);

			span{
				display: inline-block;
    		    margin: 1.5vw 3.19vw;
			}
		}
		.step.active, .step.completed{
			background-color: $primary-color;
			color: #fff;
		}
		.step-1{
			position: absolute;
			left: 0;
		}
		.step-2{
			position: absolute;
			right: 0;
		}
		.step-1 .label:before{
			content: "1";
		}
		.step-2 .label:before{
			content: "2";
		}
	}
	.step-message{
		text-align: center;
		color: #555;
		font-size: 5vw;
		margin-bottom: 7vw;
	}
	.goal-tag{
		padding: 5px 10px;
		display: inline-block;
		@include border-radius(5px);
		color: $primary-color;
		border: 1px solid $primary-color-light;
		font-size: 16px;

		i:first-of-type{
			color: #9fdac1;
		}
	}
}
#create-post-step-1{
	.button-positive{
		margin-top: 50px;
	}
	.search-toggle {
	    border-top: 1px solid #eee;
		a {
		    padding: 10px;
		    float: left;
		    text-transform: uppercase;
		    width: 33.33%;
		    text-align: center;
		    border-bottom: 1px solid #eee;
		}
		a.active {
		    background-color: $primary-color;
		    color: white;
		    font-weight: 500;
		}
	}
	.item{
		padding: 12px;
	}
	ion-item:first-child{
		border-top: none;
	}
	.goal-item{
		float: left;
		width: 50%;

		.goal-name{
			font-size: 13px;
		}
		.goal-count{
			font-size: 12px;
	    	color: #999;
		}
	}
	.goal-example{
		float: left;
		width: 50%;
		text-align: right;
		font-size: 13px;
		padding-top: 10px;
	}
}
.platform-ios #create-post-step-1{
	.search-toggle {
		margin-top: 10px;
	}
}
#create-post {
	.post-images{
		li{
			width: 50%;
			height: 60vw;
			float: left;
			padding: 12px;
			padding-bottom: 0px;
			overflow: hidden;
			position: relative;
		}

		li:nth-child(odd){
			padding-right: 6px;
		}

		li:nth-child(even){
			padding-left: 6px;
		}

		li:last-child{
			margin-bottom: 10px;
		}
	}

	.post-image{
		img{
			@include border-radius(3px);
		}
	}

	.remove-image{
		position: absolute;
		top: 15px;
		right: 13px;
		z-index: 5;
		font-size: 6vw;
		color: #fff;
	}

	li:nth-child(even) .remove-image{
		right: 19px;
	}

	.add-more-to-compare-wrapper{
		width: 100%;
		height: 100%;
	}

	.add-more-to-compare-button{
		border: dashed 0.8vw #aaa;
		@include border-radius(2vw);
		height: 100%;
		color: #aaa;
		font-weight: bold;
		font-size: 4.5vw;
		line-height: 9vw;
		text-align: center;
		padding-top: 17vw;

		.ion-plus-circled{
			font-size: 10vw;
		}
	}

	.post-caption{
		textarea{
			width: 100%;
			border: 1px solid #ddd;
			padding: 10px;
			@include border-radius(3px);
		}
	}

	img {
		max-width: 100%;
	}

	.item-image img:first-child,
	.item-image .list-img {
	    width: auto;
	    margin: auto;
	}

	.post-image .item {
		padding: 0px;
	}

	.visibility{
		.title{
			text-align: center;
			padding-bottom: 20px;
			color: #444;
			font-size: 16px;
		}
		.button{
			border-color: #ddd;
	    	background-color: #fff;
		}
		.button.button-positive{
			border-color: $primary-color;
			background-color: $primary-color;
		}
	}

	.selected-visibility{
		font-size: 12px;
		padding: 15px;
		margin-top: 25px;
		color: #fff;
	    background-color: #454a54;
		@include border-radius(5px);
		position: relative;
	}

	.selected-visibility:after{
	    border: solid transparent;
	    content: " ";
	    height: 0;
	    width: 0;
	    position: absolute;
	    pointer-events: none;
	    border-color: rgba(136, 183, 213, 0);
	    border-bottom-color: #454a54;
	    border-width: 10px;
	    margin-left: -10px;
	}

	.selected-visibility.private:after{
		bottom: 100%;
	    left: 18%;
	}

	.selected-visibility.public:after{
		bottom: 100%;
	    left: 50%;
	}

	.selected-visibility.permanent:after{
		bottom: 100%;
	    left: 82%;
	}

	.button-small{
		font-size: 15px;
		line-height: 30px;
		color: #777;
	}

	.button-small.button-positive{
		color: #fff;
	}

	.recommendation{
		text-align: center;
	}

	hr{
		border: 0;
	    border-top: 1px solid #777;
	    margin: 10px 0;
	    width: 100%;
	}

	.compare-table{
		font-weight: bold;

		.compare-row{
			clear:both;

			.ion-close-round{
				color: #FF4C62;
			}
			.ion-checkmark-round{
				color: rgb(0, 219, 162);
			}
			.label, .mark{
				width: 50%;
				float: left;
			}
			.label{
				text-align: right;
			}
			.mark{
				text-align: center;
			}
		}
	}

	.button-padding{
		padding: 5px 10px;
	}
	.padding-top{
		padding-top: 20px;
	}
}
