#create-post {
	.post-images{
		li{
			width: 50%;
			height: 60vw;
			float: left;
			padding: 12px;
			padding-bottom: 0px;
			overflow: hidden;
			position: relative;
		}

		li:nth-child(odd){
			padding-right: 6px;
		}

		li:nth-child(even){
			padding-left: 6px;
		}

		li:last-child{
			margin-bottom: 10px;
		}
	}

	.post-image{
		img{
			@include border-radius(3px);
		}
	}

	.remove-image{
		position: absolute;
		top: 15px;
		right: 13px;
		z-index: 5;
		font-size: 6vw;
		color: #fff;
	}

	li:nth-child(even) .remove-image{
		right: 19px;
	}

	.add-more-to-compare-wrapper{
		width: 100%;
		height: 100%;
	}

	.add-more-to-compare-button{
		border: dashed 0.8vw #ccc;
		border-radius: 2vw;
		height: 100%;
		color: #ccc;
		font-weight: bold;
		font-size: 4.5vw;
		line-height: 9vw;
		text-align: center;
		padding-top: 13vw;
		.ion-plus-circled{
			font-size: 8vw;
		}
	}

	.post-caption{
		textarea{
			width: 100%;
			border: 1px solid #ddd;
			padding: 10px;
			@include border-radius(3px);
		}
	}

	img {
		max-width: 100%;
	}

	.item-image img:first-child,
	.item-image .list-img {
	    width: auto;
	    margin: auto;
	}

	.post-image .item {
		padding: 0px;
	}

	.visibility{
		margin: 10px 0;
	}

	.selected-visibility{
		font-size: 12px;
		padding: 5px;
		text-align: center;
		margin-top: 25px;
		color: #666;
	}

	.button-small{
		font-size: 15px;
		line-height: 30px;
		color: #777;
	}

	.button-small.button-positive{
		color: #fff;
	}
}
