#post-detail{
  .add-compare-button {
    background-color: #FF4C62;
    border-color: #FF4C62;
    color: #fff;
    min-width: 30px;
    min-height: 30px;
    height: 30px;
    margin-top: 7px;
    margin-left: 5px;
  }

  .add-compare-button:before {
    line-height: 28px;
    font-size: 17px;
  }

  .analytics-group {
    margin: 10px 20px;
    text-align: center;

    .analytics-gender {
      float: left;
      width: 30%;
      text-align: center;
      font-size: 0.7em;

      .analytics-number {
        div {
          float: left;
          width: 50%;
        }
      }

      .analytics-gender-avatar {
        clear: both;
        div {
          float: left;
          width: 50%;
          background-image: url('/img/gender-bg.png');
          background-size: 100%;
          line-height: 0%;

          img {
            width: 100%;
          }
        }
      }
    }

    .analytics-divider {
      width: 5%;
      height: 1px;
      float: left;
    }

    .analytics-age {
      float: left;
      width: 65%;
      font-size: 0.7em;

      .analytics-age-graph-group {
        float: left;
        width: 20%;
        border-bottom: 1px solid #e6e4e6;

        .analytics-padding {
          width: 100%;
        }

        .analytics-number {
          width: 100%;
        }

        .analytics-block {
          width: 70%;
          margin: auto;
        }

        .analytics-block.top {
          background-color: #777577;
        }

        .analytics-block.other {
          background-color: #e6e4e6;
        }
      }

      .analytics-label {
        clear: both;
        div {
          float: left;
          width: 20%;
        }
      }
    }
  }  
}