.comment-list{
  .item-avatar{
    .user-name{
      font-size: 14px;
    }
    .item-content{
      .profile-image{
        width: 35px;
        height: 35px;
        float: left;
        margin: 3px 6px 0 0;
      }
      padding: 7px;
      min-height: 55px;
    }
    padding: 0;
    min-height: 55px;
  }
  .item{
    .time-ago{
      position: absolute;
      top: 7px;
      right: 10px;
      font-size: 13px;
    }
    border-color: $grey-light;
    padding: 7px;
  }
  .load-more{
    padding: 10px;
  }
  .button-small{
    line-height: 0;
  }
}
