#tab-explore{
  .search-bar{
    position: fixed;
    top: 44px;
  }
  .search-header{
    h3{
      color: #555;
    }
    text-align: center;
    padding: 30px 0;
  }
  .search-clear{
    margin-top: 0;
  }
  .user-type-tag{
    font-size: 10px;
    display: inline-block;
    background-color: #aaa;
    color: #fff;
    padding: 3px 5px;
    border-radius: 5px;
    line-height: 1;
  }
  .list{
      margin-top: 45px;
  }
}
body.header-slide-away {
    #tab-explore{
        .search-bar{
            //transition: top 0.25s ease;
            top: -44px;
        }
    }
}
