#tab-explore.masonry-post-list,
#compare.masonry-post-list {
  masonry{
    width: 100%;
  }
  .masonry-brick{
    img{
      width: 100%;
      border-radius: 3px;
    }
    width: 50%;
    border: 0;
    padding: 3px 6px;
  }
  .post {
    .post_img {
      display: block;
      width: 100%;
      padding-top: 100%;
    }
    width: 48%;
    border-radius: 3px;
    float: left;
    margin: 1%;
    padding: 0px;

    ion-item {
      border: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

#tab-account.masonry-post-list {
  masonry{
    width: 100%;
  }
  .masonry-brick{
    img{
      width: 100%;
      border-radius: 3px;
    }
    width: 50%;
    border: 0;
    padding: 3px 6px;
  }
  .post{
    a{
      display: block;
      width: 100%;
      padding-top: 100%;
    }
    width: 48%;
    border: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    float: left;
    margin: 1%;
  }
  .post:nth-child(even){
    margin-top:-30%;
  }
  .post:nth-child(1){
    margin-top:0%;
  }
  .post:nth-child(1){
    padding-top:28%;
  }
  .post:nth-child(2){
    margin-top:0%;
  }
}