#post-detail{
  .no-result{
    margin-top: 44px;
  }
  .post-header{
    ion-spinner{
      float: right;
      padding: 3px;
    }
  }
  form .item-input-inset{
    border: 0;
  }
  .ion-ios-more-outline{
    float: right;
  }
}