// ref: https://stackoverflow.com/questions/26922336/random-color-from-array-in-sass
$colors: rgb(156, 124, 114),
    rgb(70, 80, 77),
    rgb(144, 131, 118),
    rgb(69, 45, 38),
    rgb(54, 47, 39),
    rgb(127, 95, 58),
    rgb(160, 148, 138),
    rgb(121, 104, 98),
    rgb(142, 126, 104),
    rgb(124, 125, 127),
    rgb(185, 177, 163),
    rgb(166, 168, 142),
    rgb(47, 68, 78),
    rgb(188, 181, 167),
    rgb(144, 147, 150),
    rgb(154, 126, 124),
    rgb(211, 203, 212),
    rgb(184, 158, 152),
    rgb(203, 202, 202),
    rgb(187, 180, 189);
$repeat: 20 ; // How often you want the pattern to repeat.
// Warning: a higher number outputs more CSS.

.hide-post{
    visibility:hidden;
}
.post-card-list{
    .post-card:nth-child(1){
        border-top: 1px solid #f1f1f1;
    }
    .post-card{
        border-top: 1px solid #e6e6e6;
        padding : 0;

        &.hide-slide-counter .photo-counter{
            display: none;
        }
        .post-card-header{
            padding : 4vw;
            font-size: 14px;
            background-color: #fff;

            .profile-image{
                width: 40px;
                height: 40px;
                @extend .background-image-handler;
                @include border-radius(50%);
                float: left;
            }
            .profile-text{
                padding-left: 10px;
                float: left;

                .time-ago{
                    font-size: 12px;
                    color: #999;
                }
                .profile-follow{
                    color: $primary-color;
                    font-weight: 500;
                }
            }
            .more-option{
                float: right;
                font-size: 6vw;
            }
            .follow-toggle{
                display: inline-block;
            }
        }
        .caption{
            padding: 4.5vw;
            font-size: 14px;
            white-space: pre-line;

            .goal-tag{
                display: inline-block;
                color: $primary-color;
                border: 1px solid $primary-color-light;
                padding: 5px 10px;
                border-radius: 5px;
                margin-bottom: 5px;

                i{
                    color: #9fdac1;
                }
            }
        }
        .photo-list{
            .scroll-bar-h{
                display: none;
            }
            .photo{
                width: 92vw;
                margin-left: 4vw;
                margin-right: 4vw;
                margin-top: 1vw;
                margin-bottom: 1vw;
                display: inline-block;
                box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
                border-radius: 1vw;
                background-color: #fff;

                .photo-counter{
                    position: absolute;
                    top: 4vw;
                    right: 7vw;
                    color: #fff;
                    background-color: #000;
                    padding: 1vw 2.5vw;
                    border-radius: 4vw;
                    opacity: 0.75;
                    font-size: 4vw;
                }

                .photo-img-wrapper{
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-top-left-radius: 1vw;
                    border-top-right-radius: 1vw;

                    .photo-img {
                        display: block;
                        width: 100%;
                        padding-top: 120%;
                    }
                }
                .photo-img-wrapper.my-photo{
                    border-radius: 1vw;
                }
                .vote-toggle{
                    position: relative;
                    text-align: center;
                    padding: 10px;
                    height: 15vw;

                    .check-mark{
                        display: inline-block;
                        color: #ddd;
                        border-radius: 50%;
                        border: 1px solid #ddd;
                        width: 10vw;
                        height: 10vw;
                        background: #fff;
                        font-size: 10vw;
                        padding-left: 1vw;
                    }
                    .check-mark.checked{
                        color: #fff;
                        border: 1px solid #fff;
                        background: $primary-color;
                    }
                    .source-link{
                        position: absolute;
                        top: 0;
                        left: 5vw;
                        font-size: 7vw;
                        padding-top: 4.5vw;
                        color: #ddd;
                    }
                }
            }
            @for $i from 1 through $repeat {
                ion-slide:nth-child(#{length($colors)}n+#{$i}) .photo-img-wrapper{
                    background-color: nth($colors, random(length($colors)));
                }
            }
        }
        .post-summary{
            .totals{
                float: right;
                font-size: 13px;
                padding: 4vw;
            }
            .time-ago{
                float: left;
                font-size: 13px;
                padding: 4vw;
            }
        }
        .share-warning{
            margin: 2vw 4vw 4vw 4vw;
            padding: 4vw;
            background-color: #FEEFB3;
            color: #9F6000;
            border-radius: 1vw;
            font-size: 14px;
            position: relative;
            text-align: center;

            i{
                vertical-align: sub;
                font-size: 20px;
            }
        }
        .share-warning:after{
            top: 100%;
            right: 15%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-top-color: #FEEFB3;
            border-width: 10px;
            margin-left: -10px;
        }
        hr{
            border: 0;
            border-top: 1px solid #f1f1f1;
        }
        .post-card-footer{
            background-color: #fff;
            padding: 0 4vw;

            .option{
                width: 33%;
                float: left;
                text-align: center;

                button{
                    font-size: 12px;
                    font-weight: bold;
                    color: #777;
                }
            }
            .option.expired-post{
                width: 50%;
            }
        }
        .divider{
            height: 20px;
            background-color: #f7f7f7;
            border-top: 1px solid #e6e6e6;
        }
    }
    .load-more-snaplooks{
        padding: 0 4vw;
        padding-bottom: 30px;
    }
}
.post-card-list-two-columns{
    .scroll-refresher{
        top: -20px;
    }
    &#tab-account .scroll-refresher{
        top: -60px;
    }
    .button-bar-wrapper{
        margin-bottom: 14px;
    }
    .load-more-snaplooks{
        padding: 5vw;
        float: left;
        width: 100vw;
    }
    .post-card{
        width: 50%;
        float: left;
        padding: 2.5vw;
        border: 0;
        .photo-img-wrapper{
            background-color: #eee;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 2vw;

            .photo-img {
                display: block;
                width: 100%;
                padding-top: 133%;
            }
        }

        @for $i from 1 through $repeat {
            &:nth-child(#{length($colors)}n+#{$i}) .photo-img-wrapper{
                background-color: nth($colors, random(length($colors)));
            }
        }
        .ion-ios-browsers{
            position: absolute;
            top: 3vw;
            right: 7vw;
            opacity: 0.8;
            color: #fff;
            font-size: 8vw;
            -moz-transform: scaleY(-1);
            -o-transform: scaleY(-1);
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
        }
    }
    .even{
        padding-left: 5vw;
        .ion-ios-browsers{
            right: 4.5vw;
        }
    }
    .odd{
        padding-right: 5vw;
    }
}
.vote-result {
  .photo {
    width: 44vw !important;
    float: left;
    margin-left: 4vw;
    margin-top: 4vw;
    border-radius: 1vw;
    border: 0px solid #ddd;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);

    .post_img {
      display: block;
      width: 100%;
      padding-top: 115%;
    }
    .photo_wrapper {
      border: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      float: left;
      background-color: $grey-lighter;
    }
    .desc_row{
      float: left;
      width: 50%;
      font-size: 14px;
      color: $grey-dark;
      padding: 5px 5px 0px 10px;
    }
    .desc_row.profile{
        padding: 5px 0 5px 5px;
    }
    .add_to_compare{
      position: absolute;
      bottom: 10px;
      right: 2%;
    }
    .like-button{
      min-width: 20px;
      min-height: 21px;
      height: 21px;
      padding-right: 5px;
      margin-right: 10px;
    }
    .like-button:before{
      line-height: 20px;
      font-size: 25px;
    }
    .profile-image{
      width: 25px;
      height: 25px;
      @extend .background-image-handler;
      @include border-radius(50%);
      float: left;
      margin-right: 5px;
    }
    .user-name{
      padding: 2px;
    }
    .add-compare-button {
      float: right;
      min-width: 20px;
      min-height: 22px;
      height: 22px;
      padding-right: 6px;
      margin-right: 6px;
    }
    .add-compare-button:before {
      line-height: 20px;
    }
    .button.button-dark.button-clear.ion-ios-heart {
      color: #FF4C62;
    }
    i{
        width: 15px;
        text-align: center;
    }
    .right-align{
        ion-item{
            float: right;
        }
        .add_to_compare{
            position: absolute;
            bottom: 10px;
            right: 52%;
        }
    }
  }
}
.post-list {
  .post {
    .post_img {
      display: block;
      width: 100%;
      padding-top: 120%;
    }
    width: 100%;
    float: left;
    padding: 0px;
    position: relative;
    border-right-color: #fff;
    ion-item {
      border: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      width: 50%;
      float: left;
      background-color: $grey-lighter;
    }
    .desc_row{
      float: left;
      width: 50%;
      font-size: 14px;
      color: $grey-dark;
      padding: 5px 5px 0px 10px;
    }
    .desc_row.profile{
        padding: 5px 0 5px 5px;
    }
    .add_to_compare{
      position: absolute;
      bottom: 10px;
      right: 2%;
    }
    .like-button{
      min-width: 20px;
      min-height: 21px;
      height: 21px;
      padding-right: 5px;
      margin-right: 10px;
    }
    .like-button:before{
      line-height: 20px;
      font-size: 25px;
    }
    .profile-image{
      width: 25px;
      height: 25px;
      @extend .background-image-handler;
      @include border-radius(50%);
      float: left;
      margin-right: 5px;
    }
    .user-name{
      padding: 2px;
    }
    .add-compare-button {
      float: right;
      min-width: 20px;
      min-height: 22px;
      height: 22px;
      padding-right: 6px;
      margin-right: 6px;
    }
    .add-compare-button:before {
      line-height: 20px;
    }
    .button.button-dark.button-clear.ion-ios-heart {
      color: #FF4C62;
    }
    i{
        width: 15px;
        text-align: center;
    }
    .right-align{
        ion-item{
            float: right;
        }
        .add_to_compare{
            position: absolute;
            bottom: 10px;
            right: 52%;
        }
    }
  }
}
