#post-detail{
  .no-result{
    margin-top: 44px;
  }
  .post-header{
    ion-spinner{
      float: right;
      padding: 3px;
    }
  }
  form .item-input-inset{
    border: 0;
  }
  .post-image-placeholder{
      background-color: $grey-lighter;
      height: 1000px;
  }
}
#photo-detail{
    background-color: #f7f7f7;

    .zoom-pane {
        width: 100% !important;
        height: 100% !important;
    }

    .zoom-pane .scroll {
        min-height: 100% !important;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: flex-start;
        -moz-box-align: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        height: 100vh;
    }

    .zoom-pane img {
        width: 100% !important;
        vertical-align: top !important;
    }

    ion-spinner{
        margin-top: 50px;
    }
}
