.post-list {
  .post {
    .post_img {
      display: block;
      width: 100%;
      padding-top: 120%;
    }
    width: 100%;
    float: left;
    padding: 0px;
    position: relative;
    border-right-color: #fff;
    ion-item {
      border: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      width: 50%;
      float: left;
      background-color: $grey-lighter;
    }
    .desc_row{
      float: left;
      width: 50%;
      font-size: 14px;
      color: $grey-dark;
      padding: 5px 5px 0px 10px;
    }
    .desc_row.profile{
        padding: 5px 0 5px 5px;
    }
    .add_to_compare{
      position: absolute;
      bottom: 10px;
      right: 2%;
    }
    .like-button{
      min-width: 20px;
      min-height: 21px;
      height: 21px;
      padding-right: 5px;
      margin-right: 10px;
    }
    .like-button:before{
      line-height: 20px;
      font-size: 25px;
    }
    .profile-image{
      width: 25px;
      height: 25px;
      @extend .background-image-handler;
      @include border-radius(50%);
      float: left;
      margin-right: 5px;
    }
    .user-name{
      padding: 2px;
    }
    .add-compare-button {
      float: right;
      min-width: 20px;
      min-height: 22px;
      height: 22px;
      padding-right: 6px;
      margin-right: 6px;
    }
    .add-compare-button:before {
      line-height: 20px;
    }
    .button.button-dark.button-clear.ion-ios-heart {
      color: #FF4C62;
    }
    i{
        width: 15px;
        text-align: center;
    }
    .right-align{
        ion-item{
            float: right;
        }
        .add_to_compare{
            position: absolute;
            bottom: 10px;
            right: 52%;
        }
    }
  }
}
