.single-post{
  .post-header{
    .profile-image{
      width: 25px;
      height: 25px;
      @extend .background-image-handler;
      @include border-radius(50%);
      float: left;
      margin: 5px;
    }
    .user-name{
      float: left;
      padding: 7px;
    }
    .time-ago{
      float: right;
      padding: 7px;
    }
  }
  .post-image{
    img{
      width: 100%;
    }
  }
  .button-group{
    .button{
      min-width: 42px;
    }
    .button.button-dark.button-clear.ion-ios-heart{
      color: $like-red;
    }
    padding-left: 5px;
  }
  .stats{
    .likes-count{
      color: $primary-color-dark;
    }
    .comments-count{
      color: $grey-dark;
      padding-left: 10px;
    }
    padding: 10px;
    padding-left: 15px;
    font-size: 14px;
  }
  .content{
    padding: 0 15px 20px 15px;
    white-space: normal;
    font-size: 14px;
    color: #444;
  }
}