.bar .buttons span.back-text{
  display: none;
}
.bar.bar-stable{
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.bar.bar-stable .title {
  color: $primary-color;
  font-weight: unset;
  text-decoration: underline;
  text-decoration-color: $primary-color;
  text-underline-position: under;
}
.bar.bar-stable .title snap-title{
  color: #525252;
}
.bar-stable .button.button-clear{
  color: #525252;
}
.title-image{
  height: 44px;
}
.bar .button.button-clear.ion-refresh::before{
    font-size:23px;
}
.bar .button.fa-filter{
    background-color: #fff;
}
.bar .button.fa-filter.filter-on{
    color: $primary-color;
}
.bar .fa-filter .fa-chevron-down, .bar .fa-filter .fa-chevron-up{
    font-size: 10px;
}
.header-slide-away .bar .button.fa-filter{
    display: none;
}
.platform-android .nav-bar-has-subheader .bar.bar-stable{
  background-color: $primary-color;
  background: -webkit-linear-gradient(left, #FF1D5C , #FFC772); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FF1D5C, #FFC772); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FF1D5C, #FFC772); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FF1D5C , #FFC772);
}
