// @include border-radius(3px);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  //stops bg color from leaking outside the border
}
@mixin rotate($degree) {
    -webkit-transform: rotate($degree);
    -moz-transform: rotate($degree);
    -ms-transform: rotate($degree);
    -o-transform: rotate($degree);
    transform: rotate($degree);
}
@mixin box-shadow($param, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $param;
    -moz-box-shadow:inset $param;
    box-shadow:inset $param;
  } @else {
    -webkit-box-shadow: $param;
    -moz-box-shadow: $param;
    box-shadow: $param;
  }
}
