// @extend .background-image-handler;

.background-image-handler{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.expand-full{
  display: block;
  width:100%;
  padding-top: 100%;
}
.grey-small-font{
  color: $grey-dark;
  font-size: 0.9em;
}