$regular-user-profile-image-size: 30px;

$primary-font: ProximaNova-Regular;
$primary-font-bold: ProximaNova-Medium;
$primary-font-bolder: ProximaNova-Semibold;

$primary-color: #FF6D70;
$primary-color-dark: #F95D61;

$secondary-color: #00ccd2;
$secondary-color-dark: #09B1B7;

$grey-lightest: #f7f7f7;
$grey-lighter: #f0f0f0;
$grey-light: #e7e7e7;
$grey-regular: #d1d1d1;
$grey-dark: #aaa;
$grey-darker: #777;
$grey-darkest: #333;

$like-red: $primary-color-dark;
$a-color: #337ab7;

$footer-nav-color: #333;
$footer-nav-active-color: #555;