/* line 3, ../../scss/common/_reusable.scss */
.background-image-handler, .single-post .post-header .profile-image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 8, ../../scss/common/_reusable.scss */
.expand-full {
  display: block;
  width: 100%;
  padding-top: 100%;
}

/* line 13, ../../scss/common/_reusable.scss */
.grey-small-font {
  color: #aaa;
  font-size: 0.9em;
}

/* line 3, ../../scss/ryan/_follow-toggle-user-list.scss */
.follow-toggle-user-list ion-content .item {
  border-color: #e7e7e7;
  padding: 7px;
}
/* line 7, ../../scss/ryan/_follow-toggle-user-list.scss */
.follow-toggle-user-list ion-content .item-avatar {
  padding: 4px;
  padding-left: 50px;
  min-height: 55px;
}
/* line 8, ../../scss/ryan/_follow-toggle-user-list.scss */
.follow-toggle-user-list ion-content .item-avatar .user-name {
  font-size: 12px;
  float: left;
  padding-top: 14px;
}
/* line 13, ../../scss/ryan/_follow-toggle-user-list.scss */
.follow-toggle-user-list ion-content .item-avatar .follow-toggle {
  font-size: 11px;
  float: right;
  margin-top: 8px;
  padding: 0 20px;
  margin-right: 5px;
  background-color: #fff;
  border-color: #FF4C62;
  color: #FF4C62;
  width: 90px;
}
/* line 24, ../../scss/ryan/_follow-toggle-user-list.scss */
.follow-toggle-user-list ion-content .item-avatar .follow-toggle:after {
  padding-top: 7px;
  content: "FOLLOW";
}
/* line 28, ../../scss/ryan/_follow-toggle-user-list.scss */
.follow-toggle-user-list ion-content .item-avatar .following {
  background-color: #FF4C62;
  border-color: #FF4C62;
  color: #fff;
}
/* line 33, ../../scss/ryan/_follow-toggle-user-list.scss */
.follow-toggle-user-list ion-content .item-avatar .following:after {
  content: "UNFOLLOW";
}
/* line 36, ../../scss/ryan/_follow-toggle-user-list.scss */
.follow-toggle-user-list ion-content .item-avatar .profile-image {
  max-width: 30px;
  max-height: 30px;
  left: 10px;
  top: 13px;
}

/* line 2, ../../scss/ryan/_masonry-post-list.scss */
.masonry-post-list masonry {
  width: 100%;
}
/* line 5, ../../scss/ryan/_masonry-post-list.scss */
.masonry-post-list .masonry-brick {
  width: 50%;
  border: 0;
  padding: 3px 6px;
}
/* line 6, ../../scss/ryan/_masonry-post-list.scss */
.masonry-post-list .masonry-brick img {
  width: 100%;
  border-radius: 3px;
}

/* line 2, ../../scss/ryan/_comment-list.scss */
.comment-list .item-avatar {
  padding: 0;
  min-height: 55px;
}
/* line 3, ../../scss/ryan/_comment-list.scss */
.comment-list .item-avatar .user-name {
  font-size: 14px;
}
/* line 6, ../../scss/ryan/_comment-list.scss */
.comment-list .item-avatar .item-content {
  padding: 7px;
  padding-left: 50px;
  min-height: 55px;
}
/* line 7, ../../scss/ryan/_comment-list.scss */
.comment-list .item-avatar .item-content .profile-image {
  max-width: 35px;
  max-height: 35px;
  left: 5px;
  top: 10px;
}
/* line 20, ../../scss/ryan/_comment-list.scss */
.comment-list .item {
  border-color: #e7e7e7;
  padding: 7px;
}
/* line 21, ../../scss/ryan/_comment-list.scss */
.comment-list .item .time-ago {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 13px;
}
/* line 30, ../../scss/ryan/_comment-list.scss */
.comment-list .load-more {
  padding: 10px;
}
/* line 33, ../../scss/ryan/_comment-list.scss */
.comment-list .button-small {
  line-height: 0;
}

/* line 3, ../../scss/ryan/_single-post.scss */
.single-post .post-header .profile-image {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  float: left;
  margin: 5px;
}
/* line 11, ../../scss/ryan/_single-post.scss */
.single-post .post-header .user-name {
  float: left;
  padding: 7px;
}
/* line 15, ../../scss/ryan/_single-post.scss */
.single-post .post-header .time-ago {
  float: right;
  padding: 7px;
}
/* line 21, ../../scss/ryan/_single-post.scss */
.single-post .post-image img {
  width: 100%;
}
/* line 25, ../../scss/ryan/_single-post.scss */
.single-post .button-group {
  padding-left: 5px;
}
/* line 26, ../../scss/ryan/_single-post.scss */
.single-post .button-group .button {
  min-width: 42px;
}
/* line 29, ../../scss/ryan/_single-post.scss */
.single-post .button-group .button.button-dark.button-clear.ion-ios-heart {
  color: #FF4C62;
}
/* line 34, ../../scss/ryan/_single-post.scss */
.single-post .stats {
  padding: 10px;
  padding-left: 15px;
  font-size: 14px;
}
/* line 35, ../../scss/ryan/_single-post.scss */
.single-post .stats .likes-count {
  color: #FF4C62;
}
/* line 38, ../../scss/ryan/_single-post.scss */
.single-post .stats .comments-count {
  color: #aaa;
  padding-left: 10px;
}
/* line 46, ../../scss/ryan/_single-post.scss */
.single-post .content {
  padding: 0 15px 20px 15px;
  white-space: normal;
  font-size: 14px;
  color: #444;
}

/* line 1, ../../scss/ryan/_global.scss */
hr {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  width: 93%;
}

/* line 6, ../../scss/ryan/_global.scss */
a {
  color: #FF4C62;
  text-decoration: none;
}

/* line 10, ../../scss/ryan/_global.scss */
.user-name {
  color: #444;
  font-weight: 500;
}

/* line 14, ../../scss/ryan/_global.scss */
.loading-spinner {
  padding: 20px 0;
  text-align: center;
}

/* line 18, ../../scss/ryan/_global.scss */
.update-notification {
  text-align: center;
  padding: 10px;
  background-color: #FFF9C7;
  font-size: 12px;
  color: #333;
  border: 1px solid #FFBF00;
}

/* line 26, ../../scss/ryan/_global.scss */
#notification-icon:before {
  font-size: 28px;
}

/* line 29, ../../scss/ryan/_global.scss */
.bar-header {
  border-bottom-width: 0px;
}

/* line 32, ../../scss/ryan/_global.scss */
.bar {
  border-top: 0px solid transparent;
  border-bottom: 0px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 38, ../../scss/ryan/_global.scss */
.button.button-positive {
  background-color: #FF4C62;
}

/* line 41, ../../scss/ryan/_global.scss */
.button.button-positive.activated {
  background-color: #E24256;
}

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 45, ../../scss/ryan/_global.scss */
  .bar, .tabs {
    background-size: 100% 0px;
  }
}
/* line 1, ../../scss/ryan/_top-bar.scss */
.bar .buttons span.back-text {
  display: none;
}

/* line 4, ../../scss/ryan/_top-bar.scss */
.bar.bar-stable {
  background-color: #FF6D70;
  background: -webkit-linear-gradient(left, #FF1D5C, #FFC772);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FF1D5C, #FFC772);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FF1D5C, #FFC772);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FF1D5C, #FFC772);
}

/* line 11, ../../scss/ryan/_top-bar.scss */
.bar.bar-stable .title {
  color: #fff;
}

/* line 14, ../../scss/ryan/_top-bar.scss */
.bar-stable .button.button-clear {
  color: #fff;
}

/* line 17, ../../scss/ryan/_top-bar.scss */
.title-image {
  height: 44px;
}

/* line 1, ../../scss/ryan/_footer-nav.scss */
.tab-nav {
  background-color: #fff !important;
  padding-top: 0;
}

/* line 5, ../../scss/ryan/_footer-nav.scss */
ion-tabs .tab-item {
  color: #999;
  opacity: 1;
}

/* line 10, ../../scss/ryan/_footer-nav.scss */
.tab-item .icon.ion-trophy {
  font-size: 27px;
}
/* line 13, ../../scss/ryan/_footer-nav.scss */
.tab-item .icon.ion-camera {
  font-size: 35px;
}

/* line 17, ../../scss/ryan/_footer-nav.scss */
.tab-item[icon-on=ion-home].tab-item-active {
  color: #FFBD71;
}

/* line 20, ../../scss/ryan/_footer-nav.scss */
.tab-item[icon-on=ion-search].tab-item-active {
  color: #FF986C;
}

/* line 23, ../../scss/ryan/_footer-nav.scss */
.tab-item[icon-on=ion-camera].tab-item-active {
  color: #FF7167;
}

/* line 26, ../../scss/ryan/_footer-nav.scss */
.tab-item[icon-on=ion-ios-bell].tab-item-active {
  color: #FF4B62;
}

/* line 29, ../../scss/ryan/_footer-nav.scss */
.tab-item[icon-on=ion-android-person].tab-item-active {
  color: #FF285D;
}

/* line 32, ../../scss/ryan/_footer-nav.scss */
div.tab-nav.tabs {
  border-top-width: 0px;
}

/* line 3, ../../scss/ryan/_post-detail.scss */
#post-detail .post-header ion-spinner {
  float: right;
  padding: 3px;
}
/* line 8, ../../scss/ryan/_post-detail.scss */
#post-detail form .item-input-inset {
  border: 0;
}
/* line 11, ../../scss/ryan/_post-detail.scss */
#post-detail .ion-ios-more-outline {
  float: right;
}

/* line 2, ../../scss/ryan/_home.scss */
#home .post-header {
  height: 45px;
  padding: 5px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 9, ../../scss/ryan/_home.scss */
#home .divider {
  height: 20px;
  background-color: #e7e7e7;
}
/* line 13, ../../scss/ryan/_home.scss */
#home ion-item {
  padding: 0;
  border: 0;
}

/* line 2, ../../scss/ryan/_explore.scss */
#tab-explore .search-header {
  text-align: center;
  padding: 30px 0;
}
/* line 3, ../../scss/ryan/_explore.scss */
#tab-explore .search-header h3 {
  color: #555;
}

/* line 2, ../../scss/ryan/_ranking.scss */
#tab-ranking .ranking-title {
  padding: 25px;
  text-align: center;
  background-color: #f7f7f7;
}
/* line 3, ../../scss/ryan/_ranking.scss */
#tab-ranking .ranking-title h4 {
  color: #555;
  line-height: 140%;
}
/* line 11, ../../scss/ryan/_ranking.scss */
#tab-ranking .ranking-list {
  color: #FF4C62;
  font-weight: 500;
  font-size: 14px;
  padding: 25px 20px;
}
/* line 12, ../../scss/ryan/_ranking.scss */
#tab-ranking .ranking-list .ranking-badge {
  padding: 5px;
  margin-right: 5px;
  background-color: gold;
  display: block;
  float: left;
  margin-right: 10px;
}
/* line 20, ../../scss/ryan/_ranking.scss */
#tab-ranking .ranking-list .school-name {
  display: block;
  padding-top: 5px;
}

/* line 2, ../../scss/ryan/_school.scss */
#school-detail .school-header {
  text-align: center;
  padding: 30px 0;
}
/* line 3, ../../scss/ryan/_school.scss */
#school-detail .school-header h4 {
  color: #555;
}

/* line 2, ../../scss/ryan/_account-liked.scss */
#account-liked ion-content {
  padding-top: 7px;
}

/* line 2, ../../scss/ryan/_login.scss */
#log-in .facebook-header, #log-in .forgot-password, #log-in .sign-up, #register .facebook-header, #register .forgot-password, #register .sign-up {
  text-align: center;
  padding: 10px 0;
}
/* line 6, ../../scss/ryan/_login.scss */
#log-in .ion-social-facebook, #register .ion-social-facebook {
  background-color: #4e69a2;
}

/* line 2, ../../scss/ryan/_register.scss */
#register2 .padding.consistent {
  padding: 13px;
}
/* line 5, ../../scss/ryan/_register.scss */
#register2 .item-select {
  border-top: 0;
}
