/* line 3, ../../scss/common/_reusable.scss */
.background-image-handler {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 8, ../../scss/common/_reusable.scss */
.expand-full {
  display: block;
  width: 100%;
  padding-top: 100%;
}

/* line 13, ../../scss/common/_reusable.scss */
.grey-small-font {
  color: #aaa;
  font-size: 0.9em;
}

/* line 1, ../../scss/tw/_global.scss */
.platform-android div.action-sheet-backdrop div.action-sheet-group.action-sheet-options button,
.platform-android div.action-sheet-backdrop div.action-sheet-group.action-sheet-cancel button {
  text-indent: 15px;
}

/* line 6, ../../scss/tw/_global.scss */
.platform-android .action-sheet-cancel {
  display: block !important;
}

/* line 10, ../../scss/tw/_global.scss */
.bar.item-input-inset .item-input-wrapper {
  margin-top: 0px;
}

/* line 14, ../../scss/tw/_global.scss */
.platform-ios.platform-cordova:not(.fullscreen) #tab-explore .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper,
.platform-ios.platform-cordova:not(.fullscreen) #post-search .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
  margin-top: 0px !important;
}

/* line 19, ../../scss/tw/_global.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 25, ../../scss/tw/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 29, ../../scss/tw/_global.scss */
.clearfix {
  *zoom: 1;
}

/* line 33, ../../scss/tw/_global.scss */
.clear {
  clear: both;
}

/* line 37, ../../scss/tw/_global.scss */
.platform-android .tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
  border-style: none;
  border-color: none;
}

/* line 42, ../../scss/tw/_global.scss */
.compare-button {
  background-color: #FF4C62;
  border-color: #FF4C62;
  color: #fff;
  height: 30px;
  padding: 0px 10px !important;
  border-radius: 7px;
  border: none;
  line-height: 110% !important;
  margin-top: 1px;
  margin-right: 8px;
  font-size: 11px !important;
}

/* line 56, ../../scss/tw/_global.scss */
.small-badge {
  background-color: #FF4C62;
  border-radius: 10px;
  color: white;
  font-size: 0.7em;
  padding: 2px 5px;
  line-height: 100%;
  height: 16px;
  position: fixed;
  right: 1vw;
  top: 22px;
  z-index: 10000;
  line-height: 130%;
}

/* line 2, ../../scss/tw/_account.scss */
#tab-account .account-top {
  color: #aaa;
  position: relative;
  background-position: 50% 50%;
  background-size: auto 100%;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  padding-top: 5px;
  padding-bottom: 22px;
}
/* line 3, ../../scss/tw/_account.scss */
#tab-account .account-top .account-option-btn, #tab-account .account-top .follow-toggle {
  position: absolute;
  right: 0;
}
/* line 7, ../../scss/tw/_account.scss */
#tab-account .account-top .account-option-btn {
  color: #ccc;
}
/* line 10, ../../scss/tw/_account.scss */
#tab-account .account-top .user-name {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #777;
}
/* line 27, ../../scss/tw/_account.scss */
#tab-account .account-image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 10px;
  clear: both;
  margin-top: 20px;
}
/* line 40, ../../scss/tw/_account.scss */
#tab-account .user-school {
  text-align: center;
  margin-bottom: 10px;
  text-decoration: underline;
}
/* line 46, ../../scss/tw/_account.scss */
#tab-account .user-joined {
  text-align: center;
}
/* line 50, ../../scss/tw/_account.scss */
#tab-account .account-option-btn {
  color: white;
  float: right;
  margin-right: 10px;
  font-size: 0.8em;
}
/* line 57, ../../scss/tw/_account.scss */
#tab-account .account-achievement {
  margin-top: 10px;
}
/* line 60, ../../scss/tw/_account.scss */
#tab-account .account-achievement button {
  color: white;
  line-height: 120%;
  font-weight: 400;
}
/* line 66, ../../scss/tw/_account.scss */
#tab-account .account-achievement div {
  color: white;
  line-height: 150%;
  font-size: 1.1em;
}
/* line 72, ../../scss/tw/_account.scss */
#tab-account .account-achievement .col {
  text-align: center;
}
/* line 76, ../../scss/tw/_account.scss */
#tab-account .account-achievement .col:nth-child(1) {
  color: #FF4B62;
}
/* line 79, ../../scss/tw/_account.scss */
#tab-account .account-achievement .col:nth-child(2) {
  color: #FF7167;
}
/* line 82, ../../scss/tw/_account.scss */
#tab-account .account-achievement .col:nth-child(3) {
  color: #FF986C;
}
/* line 85, ../../scss/tw/_account.scss */
#tab-account .account-achievement .col:nth-child(4) {
  color: #FFBD71;
}
/* line 89, ../../scss/tw/_account.scss */
#tab-account .account-achievement .ion-camera,
#tab-account .account-achievement .ion-ios-heart,
#tab-account .account-achievement .ion-ios-people,
#tab-account .account-achievement .ion-android-person {
  font-size: 1.5em;
}
/* line 97, ../../scss/tw/_account.scss */
#tab-account .account-social-network {
  font-size: 0.6em;
}
/* line 99, ../../scss/tw/_account.scss */
#tab-account .account-social-network div {
  color: #FF4C62;
}
/* line 104, ../../scss/tw/_account.scss */
#tab-account .follow-toggle {
  font-size: 11px;
  float: right;
  margin-top: 15px;
  padding: 0 20px;
  margin-right: 20px;
  background-color: #fff;
  border-color: #FF4C62;
  color: #FF4C62;
  width: 90px;
}
/* line 115, ../../scss/tw/_account.scss */
#tab-account .follow-toggle:after {
  padding-top: 7px;
  content: "FOLLOW";
}
/* line 119, ../../scss/tw/_account.scss */
#tab-account .following {
  background-color: #FF4C62;
  border-color: #FF4C62;
  color: #fff;
}
/* line 124, ../../scss/tw/_account.scss */
#tab-account .following:after {
  content: "UNFOLLOW";
}
/* line 127, ../../scss/tw/_account.scss */
#tab-account .tabs-striped .tab-item.activated {
  margin-top: 0px;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: #444;
}
/* line 133, ../../scss/tw/_account.scss */
#tab-account .tabs-striped .tab-item.activatedd {
  margin-bottom: -2px;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #FF4C62;
}
/* line 139, ../../scss/tw/_account.scss */
#tab-account .tabs-striped .tabs {
  border-bottom: 0px solid #ddd;
}
/* line 142, ../../scss/tw/_account.scss */
#tab-account ion-list .list {
  margin-top: -15px;
}
/* line 146, ../../scss/tw/_account.scss */
#tab-account .profile-post-like-count {
  color: white;
  text-align: right;
}
/* line 151, ../../scss/tw/_account.scss */
#tab-account ion-content > .scroll {
  min-height: 900px;
}

/* line 2, ../../scss/tw/_explore.scss */
#tab-explore .compare-toggle {
  border-bottom: 1px solid #eee;
}
/* line 3, ../../scss/tw/_explore.scss */
#tab-explore .compare-toggle a {
  padding: 10px;
  float: left;
  text-transform: uppercase;
  width: 25%;
  text-align: center;
  border-bottom: 1px solid #eee;
}
/* line 12, ../../scss/tw/_explore.scss */
#tab-explore .compare-toggle .active {
  background-color: #FF4C62;
  color: white;
  font-weight: 500;
  padding: 4px 10px;
  margin-top: 1px;
  padding-top: 8px;
  padding-bottom: 10px;
}
/* line 25, ../../scss/tw/_explore.scss */
#tab-explore .search-running {
  clear: both;
  padding: 15px;
  min-height: 55px;
}
/* line 30, ../../scss/tw/_explore.scss */
#tab-explore .search-running i {
  padding: 0px 5px;
  margin-right: 8px;
}
/* line 36, ../../scss/tw/_explore.scss */
#tab-explore .desc_top_row {
  height: 30px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
/* line 41, ../../scss/tw/_explore.scss */
#tab-explore .desc_top_row .desc_stat {
  font-size: 13px;
  color: #bbb;
  position: relative;
  top: -3px;
}
/* line 48, ../../scss/tw/_explore.scss */
#tab-explore .desc_top_row .desc_stat .fa {
  font-size: 1.4em;
  position: relative;
  top: 3px;
}
/* line 55, ../../scss/tw/_explore.scss */
#tab-explore .desc_bottom_row {
  height: 30px;
  padding: 5px;
}
/* line 59, ../../scss/tw/_explore.scss */
#tab-explore .desc_bottom_row .desc_time {
  float: right;
  font-size: 13px;
  color: #bbb;
}
/* line 64, ../../scss/tw/_explore.scss */
#tab-explore .desc_bottom_row .desc_time i.fa {
  margin-right: 2px;
}
/* line 69, ../../scss/tw/_explore.scss */
#tab-explore .desc_bottom_row .desc_name {
  font-size: 13px;
  font-weight: bold;
  color: #FF4C62;
}
/* line 78, ../../scss/tw/_explore.scss */
#tab-explore .explore-search .post .post-item {
  padding: 4px;
  min-height: 55px;
}
/* line 82, ../../scss/tw/_explore.scss */
#tab-explore .explore-search .post .post-item .name {
  font-size: 12px;
  float: left;
  padding-top: 14px;
}
/* line 87, ../../scss/tw/_explore.scss */
#tab-explore .explore-search .post .post-item .profile-image {
  float: left;
  margin: 10px;
}
/* line 92, ../../scss/tw/_explore.scss */
#tab-explore .explore-search .post .post-item .tag_sign {
  float: left;
  color: #cdcdcd;
  margin: 14px 10px;
  font-size: 1.0em;
}
/* line 99, ../../scss/tw/_explore.scss */
#tab-explore .explore-search .post .post-item .at_sign {
  float: left;
  color: #cdcdcd;
  margin: 14px 16px;
  font-size: 1.4em;
}

/* line 2, ../../scss/tw/_compare.scss */
#compare .compare-toggle {
  border-bottom: 1px solid #eee;
  padding: 2px;
}
/* line 3, ../../scss/tw/_compare.scss */
#compare .compare-toggle a {
  padding: 10px 2.5%;
  float: right;
}
/* line 7, ../../scss/tw/_compare.scss */
#compare .compare-toggle .label {
  padding: 10px;
  float: left;
}
/* line 11, ../../scss/tw/_compare.scss */
#compare .compare-toggle .active {
  background-color: #FF4C62;
  color: white;
  border-radius: 16px;
  font-weight: 500;
  padding: 4px 10px;
  margin-top: 6px;
}
/* line 22, ../../scss/tw/_compare.scss */
#compare .compare-toggle.gender a {
  padding: 10px 2%;
}
/* line 25, ../../scss/tw/_compare.scss */
#compare .compare-toggle.gender .active {
  padding: 4px 4%;
}
/* line 28, ../../scss/tw/_compare.scss */
#compare .compare-toggle.occasion {
  margin-right: 5px;
}
/* line 31, ../../scss/tw/_compare.scss */
#compare .compare-toggle:after {
  content: "";
  display: table;
  clear: both;
}
/* line 36, ../../scss/tw/_compare.scss */
#compare .post.item {
  width: 50%;
}
/* line 39, ../../scss/tw/_compare.scss */
#compare .item {
  width: 100%;
  padding: 0;
}
/* line 40, ../../scss/tw/_compare.scss */
#compare .item .winner {
  position: absolute;
  left: 2vw;
  top: 2vw;
  font-size: 10vw;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 10vw;
  height: 10vw;
  background: #ff245d;
  padding-left: 3vw;
}
/* line 53, ../../scss/tw/_compare.scss */
#compare .item .desc_row {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}
/* line 61, ../../scss/tw/_compare.scss */
#compare .sort {
  margin-bottom: 0;
}
/* line 64, ../../scss/tw/_compare.scss */
#compare .expired-message {
  background-color: #fff;
  padding: 70px 0 70px 0;
  text-align: center;
  color: #333;
}

/* line 3, ../../scss/tw/_find-friends.scss */
.find-friends ion-content .item {
  border-color: #e7e7e7;
  padding: 7px;
}
/* line 7, ../../scss/tw/_find-friends.scss */
.find-friends ion-content .item-avatar {
  padding: 0;
  min-height: 55px;
}
/* line 8, ../../scss/tw/_find-friends.scss */
.find-friends ion-content .item-avatar .user-name {
  font-size: 12px;
  float: left;
  padding-top: 14px;
  font-weight: 500;
}
/* line 14, ../../scss/tw/_find-friends.scss */
.find-friends ion-content .item-avatar .follow-toggle {
  font-size: 11px;
  float: right;
  margin-top: 8px;
  padding: 0 20px;
  margin-right: 5px;
  background-color: #fff;
  border-color: #FF4C62;
  color: #FF4C62;
  width: 90px;
}
/* line 25, ../../scss/tw/_find-friends.scss */
.find-friends ion-content .item-avatar .follow-toggle:after {
  padding-top: 7px;
  content: "FOLLOW";
}
/* line 29, ../../scss/tw/_find-friends.scss */
.find-friends ion-content .item-avatar .following {
  background-color: #FF4C62;
  border-color: #FF4C62;
  color: #fff;
}
/* line 34, ../../scss/tw/_find-friends.scss */
.find-friends ion-content .item-avatar .following:after {
  content: "UNFOLLOW";
}
/* line 37, ../../scss/tw/_find-friends.scss */
.find-friends ion-content .item-avatar .item-content {
  padding: 4px;
  padding-left: 50px;
  min-height: 55px;
}
/* line 38, ../../scss/tw/_find-friends.scss */
.find-friends ion-content .item-avatar .item-content .profile-image {
  max-width: 30px;
  max-height: 30px;
  left: 10px;
  top: 13px;
}

/* line 2, ../../scss/tw/_notifications.scss */
#account-notification .item {
  font-size: 15px;
  white-space: normal;
}
/* line 3, ../../scss/tw/_notifications.scss */
#account-notification .item a {
  color: #444;
  font-weight: 500;
}
/* line 7, ../../scss/tw/_notifications.scss */
#account-notification .item img {
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
  vertical-align: middle;
}
/* line 13, ../../scss/tw/_notifications.scss */
#account-notification .item .notification-content {
  margin-left: 5px;
}
/* line 16, ../../scss/tw/_notifications.scss */
#account-notification .item div:nth-child(1) {
  float: left;
}
/* line 19, ../../scss/tw/_notifications.scss */
#account-notification .item div:nth-child(2), #account-notification .item div:nth-child(3) {
  margin-left: 45px;
}
/* line 26, ../../scss/tw/_notifications.scss */
#account-notification .notification-image {
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid white;
  margin: auto;
  margin-bottom: 10px;
  clear: both;
}

/* line 2, ../../scss/tw/_post-create.scss */
#create-post-step-1 .steps, #create-post .steps {
  width: 40vw;
  height: 14vw;
  margin: 0 auto;
  position: relative;
  margin-top: 7vw;
}
/* line 9, ../../scss/tw/_post-create.scss */
#create-post-step-1 .steps .line, #create-post .steps .line {
  position: absolute;
  background-color: #eee;
  width: 90%;
  height: 0.5vw;
  top: 3vw;
  left: 5%;
}
/* line 17, ../../scss/tw/_post-create.scss */
#create-post-step-1 .steps .line.completed, #create-post .steps .line.completed {
  background-color: #ff495e;
}
/* line 20, ../../scss/tw/_post-create.scss */
#create-post-step-1 .steps .step, #create-post .steps .step {
  display: inline-block;
  background-color: #eee;
  color: #ccc;
  font-weight: bolder;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
}
/* line 27, ../../scss/tw/_post-create.scss */
#create-post-step-1 .steps .step span, #create-post .steps .step span {
  display: inline-block;
  margin: 0.5vw 2.19vw;
}
/* line 32, ../../scss/tw/_post-create.scss */
#create-post-step-1 .steps .step.active, #create-post-step-1 .steps .step.completed, #create-post .steps .step.active, #create-post .steps .step.completed {
  background-color: #ff495e;
  color: #fff;
}
/* line 36, ../../scss/tw/_post-create.scss */
#create-post-step-1 .steps .step-1, #create-post .steps .step-1 {
  position: absolute;
  left: 0;
}
/* line 40, ../../scss/tw/_post-create.scss */
#create-post-step-1 .steps .step-2, #create-post .steps .step-2 {
  position: absolute;
  right: 0;
}
/* line 44, ../../scss/tw/_post-create.scss */
#create-post-step-1 .steps .step-1 .label:before, #create-post .steps .step-1 .label:before {
  content: "1";
}
/* line 47, ../../scss/tw/_post-create.scss */
#create-post-step-1 .steps .step-2 .label:before, #create-post .steps .step-2 .label:before {
  content: "2";
}
/* line 51, ../../scss/tw/_post-create.scss */
#create-post-step-1 .step-message, #create-post .step-message {
  text-align: center;
  color: #555;
  font-size: 5vw;
  margin-bottom: 7vw;
}
/* line 57, ../../scss/tw/_post-create.scss */
#create-post-step-1 .occasion-tag, #create-post .occasion-tag {
  background-color: #454a54;
  padding: 5px 10px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  color: #fff;
  font-size: 16px;
}

/* line 67, ../../scss/tw/_post-create.scss */
#create-post-step-1 .button-positive {
  margin-top: 50px;
}
/* line 70, ../../scss/tw/_post-create.scss */
#create-post-step-1 .search-toggle {
  border-top: 1px solid #eee;
}
/* line 72, ../../scss/tw/_post-create.scss */
#create-post-step-1 .search-toggle a {
  padding: 10px;
  float: left;
  text-transform: uppercase;
  width: 33.33%;
  text-align: center;
  border-bottom: 1px solid #eee;
}
/* line 80, ../../scss/tw/_post-create.scss */
#create-post-step-1 .search-toggle a.active {
  background-color: #FF4C62;
  color: white;
  font-weight: 500;
}
/* line 86, ../../scss/tw/_post-create.scss */
#create-post-step-1 .item {
  padding: 12px;
}
/* line 89, ../../scss/tw/_post-create.scss */
#create-post-step-1 ion-item:first-child {
  border-top: none;
}
/* line 92, ../../scss/tw/_post-create.scss */
#create-post-step-1 .occasion-name {
  font-size: 13px;
}
/* line 95, ../../scss/tw/_post-create.scss */
#create-post-step-1 .occasion-count {
  font-size: 12px;
  color: #999;
}

/* line 102, ../../scss/tw/_post-create.scss */
#create-post .post-images li {
  width: 50%;
  height: 60vw;
  float: left;
  padding: 12px;
  padding-bottom: 0px;
  overflow: hidden;
  position: relative;
}
/* line 112, ../../scss/tw/_post-create.scss */
#create-post .post-images li:nth-child(odd) {
  padding-right: 6px;
}
/* line 116, ../../scss/tw/_post-create.scss */
#create-post .post-images li:nth-child(even) {
  padding-left: 6px;
}
/* line 120, ../../scss/tw/_post-create.scss */
#create-post .post-images li:last-child {
  margin-bottom: 10px;
}
/* line 126, ../../scss/tw/_post-create.scss */
#create-post .post-image img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
}
/* line 131, ../../scss/tw/_post-create.scss */
#create-post .remove-image {
  position: absolute;
  top: 15px;
  right: 13px;
  z-index: 5;
  font-size: 6vw;
  color: #fff;
}
/* line 140, ../../scss/tw/_post-create.scss */
#create-post li:nth-child(even) .remove-image {
  right: 19px;
}
/* line 144, ../../scss/tw/_post-create.scss */
#create-post .add-more-to-compare-wrapper {
  width: 100%;
  height: 100%;
}
/* line 149, ../../scss/tw/_post-create.scss */
#create-post .add-more-to-compare-button {
  border: dashed 0.8vw #aaa;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  border-radius: 2vw;
  background-clip: padding-box;
  height: 100%;
  color: #aaa;
  font-weight: bold;
  font-size: 4.5vw;
  line-height: 9vw;
  text-align: center;
  padding-top: 13vw;
}
/* line 160, ../../scss/tw/_post-create.scss */
#create-post .add-more-to-compare-button .ion-plus-circled {
  font-size: 10vw;
}
/* line 166, ../../scss/tw/_post-create.scss */
#create-post .post-caption textarea {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
}
/* line 174, ../../scss/tw/_post-create.scss */
#create-post img {
  max-width: 100%;
}
/* line 178, ../../scss/tw/_post-create.scss */
#create-post .item-image img:first-child,
#create-post .item-image .list-img {
  width: auto;
  margin: auto;
}
/* line 184, ../../scss/tw/_post-create.scss */
#create-post .post-image .item {
  padding: 0px;
}
/* line 189, ../../scss/tw/_post-create.scss */
#create-post .visibility .title {
  text-align: center;
  padding-bottom: 20px;
  color: #444;
  font-size: 16px;
}
/* line 195, ../../scss/tw/_post-create.scss */
#create-post .visibility .button {
  border-color: #ddd;
  background-color: #fff;
}
/* line 199, ../../scss/tw/_post-create.scss */
#create-post .visibility .button.button-positive {
  border-color: #FF4C62;
  background-color: #FF4C62;
}
/* line 205, ../../scss/tw/_post-create.scss */
#create-post .selected-visibility {
  font-size: 12px;
  padding: 15px;
  margin-top: 25px;
  color: #fff;
  background-color: #454a54;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  position: relative;
}
/* line 215, ../../scss/tw/_post-create.scss */
#create-post .selected-visibility:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #454a54;
  border-width: 10px;
  margin-left: -10px;
}
/* line 228, ../../scss/tw/_post-create.scss */
#create-post .selected-visibility.friend:after {
  bottom: 100%;
  left: 18%;
}
/* line 233, ../../scss/tw/_post-create.scss */
#create-post .selected-visibility.public:after {
  bottom: 100%;
  left: 50%;
}
/* line 238, ../../scss/tw/_post-create.scss */
#create-post .selected-visibility.permanent:after {
  bottom: 100%;
  left: 82%;
}
/* line 243, ../../scss/tw/_post-create.scss */
#create-post .button-small {
  font-size: 15px;
  line-height: 30px;
  color: #777;
}
/* line 249, ../../scss/tw/_post-create.scss */
#create-post .button-small.button-positive {
  color: #fff;
}
/* line 253, ../../scss/tw/_post-create.scss */
#create-post .recommendation {
  text-align: center;
}
/* line 257, ../../scss/tw/_post-create.scss */
#create-post hr {
  border: 0;
  border-top: 1px solid #777;
  margin: 10px 0;
  width: 100%;
}
/* line 264, ../../scss/tw/_post-create.scss */
#create-post .compare-table {
  font-weight: bold;
}
/* line 267, ../../scss/tw/_post-create.scss */
#create-post .compare-table .compare-row {
  clear: both;
}
/* line 270, ../../scss/tw/_post-create.scss */
#create-post .compare-table .compare-row .ion-close-round {
  color: #FF4C62;
}
/* line 273, ../../scss/tw/_post-create.scss */
#create-post .compare-table .compare-row .ion-checkmark-round {
  color: #00dba2;
}
/* line 276, ../../scss/tw/_post-create.scss */
#create-post .compare-table .compare-row .label, #create-post .compare-table .compare-row .mark {
  width: 50%;
  float: left;
}
/* line 280, ../../scss/tw/_post-create.scss */
#create-post .compare-table .compare-row .label {
  text-align: right;
}
/* line 283, ../../scss/tw/_post-create.scss */
#create-post .compare-table .compare-row .mark {
  text-align: center;
}
/* line 289, ../../scss/tw/_post-create.scss */
#create-post .button-padding {
  padding: 5px 10px;
}
/* line 292, ../../scss/tw/_post-create.scss */
#create-post .padding-top {
  padding-top: 20px;
}

/* line 2, ../../scss/tw/_post-detail.scss */
#post-detail .add-compare-button {
  background-color: #FF4C62;
  border-color: #FF4C62;
  color: #fff;
  min-width: 24px;
  min-height: 22px;
  height: 22px;
  width: 24px;
  margin-top: 12px;
  margin-left: 5px;
}
/* line 14, ../../scss/tw/_post-detail.scss */
#post-detail .add-compare-button:before {
  line-height: 20px;
  font-size: 13px;
}
/* line 19, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group {
  margin: 10px 20px;
  text-align: center;
}
/* line 23, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group .analytics-gender {
  float: left;
  width: 30%;
  text-align: center;
  font-size: 0.7em;
}
/* line 30, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group .analytics-gender .analytics-number div {
  float: left;
  width: 50%;
}
/* line 36, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group .analytics-gender .analytics-gender-avatar {
  clear: both;
}
/* line 38, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group .analytics-gender .analytics-gender-avatar div {
  float: left;
  width: 50%;
  background-image: url("../img/gender-bg.png");
  background-size: 100%;
  line-height: 0%;
}
/* line 45, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group .analytics-gender .analytics-gender-avatar div img {
  width: 100%;
}
/* line 52, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group .analytics-divider {
  width: 5%;
  height: 1px;
  float: left;
}
/* line 58, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group .analytics-age {
  float: left;
  width: 65%;
  font-size: 0.7em;
}
/* line 63, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group .analytics-age .analytics-age-graph-group {
  float: left;
  width: 20%;
  border-bottom: 1px solid #e6e4e6;
}
/* line 68, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group .analytics-age .analytics-age-graph-group .analytics-padding {
  width: 100%;
}
/* line 72, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group .analytics-age .analytics-age-graph-group .analytics-number {
  width: 100%;
}
/* line 76, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group .analytics-age .analytics-age-graph-group .analytics-block {
  width: 70%;
  margin: auto;
}
/* line 81, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group .analytics-age .analytics-age-graph-group .analytics-block.top {
  background-color: #777577;
}
/* line 85, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group .analytics-age .analytics-age-graph-group .analytics-block.other {
  background-color: #e6e4e6;
}
/* line 90, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group .analytics-age .analytics-label {
  clear: both;
}
/* line 92, ../../scss/tw/_post-detail.scss */
#post-detail .analytics-group .analytics-age .analytics-label div {
  float: left;
  width: 20%;
}
/* line 99, ../../scss/tw/_post-detail.scss */
#post-detail .time-ago i.fa {
  margin-right: 3px;
  font-size: 1.2em;
}

/* line 2, ../../scss/tw/_post-edit.scss */
#edit-post .item {
  padding: 0;
  border-width: 0px;
}
/* line 7, ../../scss/tw/_post-edit.scss */
#edit-post .look-list .scroll-bar-h {
  display: none;
}
/* line 10, ../../scss/tw/_post-edit.scss */
#edit-post .look-list .post {
  width: 40vw;
  margin-right: 2vw;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 1vw;
  background-color: #fff;
}
/* line 20, ../../scss/tw/_post-edit.scss */
#edit-post .look-list .post .post-img-wrapper {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1vw;
}
/* line 26, ../../scss/tw/_post-edit.scss */
#edit-post .look-list .post .post-img-wrapper .post-img {
  display: block;
  width: 100%;
  padding-top: 120%;
}
/* line 33, ../../scss/tw/_post-edit.scss */
#edit-post .look-list .post:first-child {
  margin-left: 10px;
}
/* line 38, ../../scss/tw/_post-edit.scss */
#edit-post .post-image {
  width: 50%;
  padding: 10px auto;
  margin: 12px;
}
/* line 42, ../../scss/tw/_post-edit.scss */
#edit-post .post-image img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
}
/* line 48, ../../scss/tw/_post-edit.scss */
#edit-post .post-caption textarea {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
}
/* line 56, ../../scss/tw/_post-edit.scss */
#edit-post img {
  max-height: 300px;
  max-width: 100%;
}
/* line 61, ../../scss/tw/_post-edit.scss */
#edit-post .item-image img:first-child,
#edit-post .item-image .list-img {
  width: auto;
  margin: auto;
}
/* line 67, ../../scss/tw/_post-edit.scss */
#edit-post .post-image .item {
  padding: 0px;
}

/* line 1, ../../scss/tw/_tab-camera.scss */
#tab-camera {
  background-color: black;
}

/* line 2, ../../scss/tw/_home.scss */
#home .add-compare-button {
  background-color: #FF4C62;
  border-color: #FF4C62;
  color: #fff;
  min-width: 24px;
  min-height: 22px;
  height: 22px;
  width: 24px;
  margin-top: 12px;
  margin-left: 5px;
}
/* line 14, ../../scss/tw/_home.scss */
#home .add-compare-button:before {
  line-height: 20px;
  font-size: 13px;
}
/* line 19, ../../scss/tw/_home.scss */
#home .analytics-group {
  margin: 10px 20px;
  text-align: center;
}
/* line 23, ../../scss/tw/_home.scss */
#home .analytics-group .analytics-gender {
  float: left;
  width: 30%;
  text-align: center;
  font-size: 0.7em;
}
/* line 30, ../../scss/tw/_home.scss */
#home .analytics-group .analytics-gender .analytics-number div {
  float: left;
  width: 50%;
}
/* line 36, ../../scss/tw/_home.scss */
#home .analytics-group .analytics-gender .analytics-gender-avatar {
  clear: both;
}
/* line 38, ../../scss/tw/_home.scss */
#home .analytics-group .analytics-gender .analytics-gender-avatar div {
  float: left;
  width: 50%;
  background-image: url("../img/gender-bg.png");
  background-size: 100%;
  line-height: 0%;
}
/* line 45, ../../scss/tw/_home.scss */
#home .analytics-group .analytics-gender .analytics-gender-avatar div img {
  width: 100%;
}
/* line 52, ../../scss/tw/_home.scss */
#home .analytics-group .analytics-divider {
  width: 5%;
  height: 1px;
  float: left;
}
/* line 58, ../../scss/tw/_home.scss */
#home .analytics-group .analytics-age {
  float: left;
  width: 65%;
  font-size: 0.7em;
}
/* line 63, ../../scss/tw/_home.scss */
#home .analytics-group .analytics-age .analytics-age-graph-group {
  float: left;
  width: 20%;
  border-bottom: 1px solid #e6e4e6;
}
/* line 68, ../../scss/tw/_home.scss */
#home .analytics-group .analytics-age .analytics-age-graph-group .analytics-padding {
  width: 100%;
}
/* line 72, ../../scss/tw/_home.scss */
#home .analytics-group .analytics-age .analytics-age-graph-group .analytics-number {
  width: 100%;
}
/* line 76, ../../scss/tw/_home.scss */
#home .analytics-group .analytics-age .analytics-age-graph-group .analytics-block {
  width: 70%;
  margin: auto;
}
/* line 81, ../../scss/tw/_home.scss */
#home .analytics-group .analytics-age .analytics-age-graph-group .analytics-block.top {
  background-color: #777577;
}
/* line 85, ../../scss/tw/_home.scss */
#home .analytics-group .analytics-age .analytics-age-graph-group .analytics-block.other {
  background-color: #e6e4e6;
}
/* line 90, ../../scss/tw/_home.scss */
#home .analytics-group .analytics-age .analytics-label {
  clear: both;
}
/* line 92, ../../scss/tw/_home.scss */
#home .analytics-group .analytics-age .analytics-label div {
  float: left;
  width: 20%;
}
/* line 100, ../../scss/tw/_home.scss */
#home .time-ago i.fa {
  margin-right: 3px;
  font-size: 1.2em;
}

/* line 2, ../../scss/tw/_search.scss */
#post-search .search-header {
  text-align: center;
  padding: 30px 0;
}
/* line 3, ../../scss/tw/_search.scss */
#post-search .search-header h3 {
  color: #555;
}
/* line 10, ../../scss/tw/_search.scss */
#post-search .search-clear {
  margin-top: 0;
}
/* line 14, ../../scss/tw/_search.scss */
#post-search .search-toggle {
  border-bottom: 1px solid #eee;
}
/* line 15, ../../scss/tw/_search.scss */
#post-search .search-toggle a {
  padding: 10px;
  float: left;
  text-transform: uppercase;
  width: 33.33%;
  text-align: center;
  border-bottom: 1px solid #eee;
}
/* line 24, ../../scss/tw/_search.scss */
#post-search .search-toggle .active {
  background-color: #FF4C62;
  color: white;
  font-weight: 500;
  padding: 4px 10px;
  margin-top: 1px;
  padding-top: 8px;
  padding-bottom: 10px;
}
/* line 37, ../../scss/tw/_search.scss */
#post-search .search-running {
  clear: both;
  padding: 15px;
  min-height: 55px;
}
/* line 42, ../../scss/tw/_search.scss */
#post-search .search-running i {
  padding: 0px 5px;
  margin-right: 8px;
}
/* line 50, ../../scss/tw/_search.scss */
#post-search .explore-search .post .post-item {
  padding: 4px;
  min-height: 55px;
}
/* line 54, ../../scss/tw/_search.scss */
#post-search .explore-search .post .post-item .name {
  font-size: 12px;
  float: left;
  padding-top: 14px;
}
/* line 59, ../../scss/tw/_search.scss */
#post-search .explore-search .post .post-item .profile-image {
  float: left;
  margin: 10px;
}
/* line 64, ../../scss/tw/_search.scss */
#post-search .explore-search .post .post-item .tag_sign {
  float: left;
  color: #cdcdcd;
  margin: 14px 10px;
  font-size: 1.0em;
}
/* line 71, ../../scss/tw/_search.scss */
#post-search .explore-search .post .post-item .at_sign {
  float: left;
  color: #cdcdcd;
  margin: 14px 16px;
  font-size: 1.4em;
}

/* line 2, ../../scss/tw/_search-result.scss */
#post-search-result .search-header {
  text-align: center;
  padding: 30px 0;
}
/* line 3, ../../scss/tw/_search-result.scss */
#post-search-result .search-header h3 {
  color: #555;
}
